{"swagger":"2.0","info":{"description":"Die EUROPACE API zum Auslesen von Anträgen und Vorgängen.\n\nDie API ist zur Zeit in der Entwicklung.","version":"0.3","title":"Auslesen API","contact":{"name":"Europace AG","url":"www.europace2.de","email":"helpdesk@europace2.de"}},"host":"www.europace2.de/api-mock","basePath":"/","tags":[{"name":"Antraege","description":"Dieser Endpunkt repräsentiert die Produktanbietersicht."}],"paths":{"/antraege":{"get":{"tags":["Antraege"],"summary":"alle Anträge abrufen","description":"Es werden alle Anträge ausgeliefert, die der authentifizierten Partner sehen darf. Offen: Sortierung, Pagination, Filterung","operationId":"getAllUsingGET","consumes":["*/*"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Antraege"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"oauth2":["API"]}]}},"/antraege/{antragsNummer}":{"get":{"tags":["Antraege"],"summary":"einen Antrag abrufen","description":"Als Parameter wird die Antragsnummer verwendet, die aus BaufiSmart erzeugt wurde. Dabei ist '/' durch '_' zu ersetzen.","operationId":"getAntragUsingGET","consumes":["*/*"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"antragsNummer","in":"path","description":"Nummer des Antrags","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Antrag"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"oauth2":["API"]}]}},"/antraege/{antragsNummer}/angebot":{"get":{"tags":["Antraege"],"summary":"Angebot des Antrags abrufen","description":"Es handelt sich um das angenommene Angebot, das zu diesem Antrag geführt hat.","operationId":"getAngebotUsingGET","consumes":["*/*"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"antragsNummer","in":"path","description":"Nummer des Antrags, wobei '/' durch '_' ersetzt werden muss.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AngebotZumAntrag"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"oauth2":["API"]}]}}},"securityDefinitions":{"oauth2":{"type":"oauth2","tokenUrl":"http://www.europace2.de/api-mock/login","flow":"password","scopes":{"API":"Authorisation Scope für die gesamte API."}}},"definitions":{"Bankverbindung":{"type":"object","properties":{"bic":{"type":"string"},"iban":{"type":"string"},"kontoinhaber":{"type":"array","items":{"$ref":"#/definitions/AntragstellerVerknuepfung"}},"kreditinstitut":{"type":"string"}}},"HaushaltsPositionen":{"type":"object","properties":{"ausgabenSonstigeMonatlich":{"type":"array","items":{"$ref":"#/definitions/AusgabenMonatlich"}},"bankUndSparguthaben":{"type":"array","items":{"$ref":"#/definitions/BankUndSparguthaben"}},"bausparvertraege":{"type":"array","items":{"$ref":"#/definitions/BestehenderBausparvertrag"}},"berechnungsHilfeAusgabenSumme":{"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeEinnahmenSumme":{"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVerbindlichkeitenSumme":{"$ref":"#/definitions/BerechnungsHilfeBetrag"},"berechnungsHilfeVermoegenSumme":{"$ref":"#/definitions/BerechnungsHilfeBetrag"},"ehegattenUnterhaltEinnahmenMonatlich":{"type":"array","items":{"$ref":"#/definitions/EinnahmenMonatlich"}},"einkuenfteAusNebentaetigkeit":{"type":"array","items":{"$ref":"#/definitions/EinkuenfteAusNebentaetigkeit"}},"einnahmenSonstigeMonatlich":{"type":"array","items":{"$ref":"#/definitions/EinnahmenMonatlich"}},"kindergeld":{"type":"array","description":"Read-Only-Feld. Wird dynamisch aus den Angaben zu den Kindern berechnet. Pro kindergelderhaltendem Kind ein Listenelement.","items":{"$ref":"#/definitions/EinnahmenMonatlich"}},"lebensUndRentenversicherungen":{"type":"array","items":{"$ref":"#/definitions/LebensOderRentenversicherungVermoegen"}},"mietAusgaben":{"type":"array","items":{"$ref":"#/definitions/MietAusgaben"}},"privateDarlehen":{"type":"array","items":{"$ref":"#/definitions/Verbindlichkeit"}},"privateKrankenversicherungsBeitraegeMonatlich":{"type":"array","items":{"$ref":"#/definitions/AusgabenMonatlich"}},"ratenkredite":{"type":"array","items":{"$ref":"#/definitions/Verbindlichkeit"}},"sparplaene":{"type":"array","items":{"$ref":"#/definitions/Sparplaene"}},"unbefristeteZusatzRentenMonatlich":{"type":"array","items":{"$ref":"#/definitions/EinnahmenMonatlich"}},"unterhaltsVerpflichtungenMonatlich":{"type":"array","items":{"$ref":"#/definitions/AusgabenMonatlich"}},"variableEinkuenfteMonatlich":{"type":"array","items":{"$ref":"#/definitions/EinnahmenMonatlich"}},"verbindlichkeitenSonstige":{"type":"array","items":{"$ref":"#/definitions/Verbindlichkeit"}},"vermoegenSonstige":{"type":"array","items":{"$ref":"#/definitions/Vermoegen"}},"versicherungsAusgabenSonstigeMonatlich":{"type":"array","items":{"$ref":"#/definitions/AusgabenMonatlich"}},"wertpapiere":{"type":"array","items":{"$ref":"#/definitions/Wertpapiere"}}}},"Postadresse":{"type":"object","properties":{"hausnummer":{"type":"string"},"ort":{"type":"string"},"postleitzahl":{"type":"string"},"strasse":{"type":"string"}}},"TilgungsPhase":{"type":"object","properties":{"bausparDarlehenSumme":{"type":"number"},"sollZinsNachZuteilung":{"type":"number"},"tilgungsBeitragMonatlich":{"type":"number"},"tilgungsPhaseInJahren":{"type":"integer","format":"int32"}}},"Bereitstellung":{"type":"object","properties":{"bereitstellungsZins":{"type":"number"},"bereitstellungsZinsFreieZeitInMonaten":{"type":"integer","format":"int32"}}},"Meldung":{"type":"object","properties":{"kategorie":{"type":"string","description":"Mögliche Werte sind: AUSZAHLUNGS_VORAUSSETZUNG,MACHBAR,MACHBARKEITS_HINWEIS,ANPASSUNG_KUNDENWUNSCH,ANPASSUNG_VERTRIEBSWUNSCH,UNBERUECKSICHTIGTE_ANGABE,KONDITIONEN_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN,KONDITIONEN_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN,MACHBARKEIT_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN,MACHBARKEIT_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN,MACHBAR_UNTER_VORBEHALT_PRODUZENT,NICHT_MACHBAR,NICHT_ANBIETBAR. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"kreditEntscheider":{"$ref":"#/definitions/ProduktAnbieter"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"text":{"type":"string"}}},"BestehendeImmobilie":{"type":"object","properties":{"adresse":{"$ref":"#/definitions/Postadresse"},"autostellplaetze":{"type":"array","items":{"$ref":"#/definitions/Autostellplatz"}},"bestehendeDarlehen":{"type":"array","items":{"$ref":"#/definitions/BestehendesDarlehen"}},"eigentumswohnung":{"description":"muss leer sein, wenn grundstück oder haus gefüllt ist","$ref":"#/definitions/Eigentumswohnung"},"erbbaurecht":{"$ref":"#/definitions/Erbbaurecht"},"grundbuchAngabe":{"$ref":"#/definitions/GrundbuchAngabe"},"grundstueck":{"description":"muss leer sein, wenn eigentumswohnung oder haus gefüllt ist","$ref":"#/definitions/Grundstueck"},"grundstuecksGroesse":{"type":"number"},"haus":{"description":"muss leer sein, wenn eigentumswohnung oder grundstück gefüllt ist","$ref":"#/definitions/Haus"},"id":{"type":"string"},"immobilienEinsatz":{"type":"string","enum":["KEIN_EINSATZ","VERKAUFEN","ALS_ZUSATZSICHERHEIT"]},"keineAutostellplaetzeVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'autostellplaetze' leer ist"},"keineBestehendenDarlehenVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'bestehendeDarlehen' leer ist"},"kommentar":{"type":"string"},"maximalEinzusetzenderBetragWennVerkauf":{"type":"number"},"verkehrswert":{"type":"number"}}},"Haushalt":{"type":"object","properties":{"antragsteller":{"type":"array","items":{"$ref":"#/definitions/Antragsteller"}},"anzahlErwachseneImHaushalt":{"type":"integer","format":"int32","description":"Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."},"anzahlKinderNichtImHaushalt":{"type":"integer","format":"int32","description":"Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."},"bestehendeImmobilien":{"type":"array","items":{"$ref":"#/definitions/BestehendeImmobilie"}},"einnahmenAusgabenVermoegenVerbindlichkeiten":{"$ref":"#/definitions/HaushaltsPositionen"},"keineBestehendenImmobilienVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'bestehendeImmobilien' leer ist"},"keineKinderVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'kinder' leer ist"},"kfzAnzahl":{"type":"integer","format":"int32","description":"Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt."},"kinder":{"type":"array","items":{"$ref":"#/definitions/Kind"}},"lebenshaltungsKostenMonatlich":{"type":"number","description":"Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt. (DSL Bank)"}}},"HausfrauOderArbeitsloser":{"type":"object","properties":{"beruf":{"type":"string"},"situationNachRenteneintritt":{"$ref":"#/definitions/SituationNachRenteneintritt"},"sonstigesRegelmaessigesEinkommenNettoMonatlich":{"type":"number"},"typ":{"type":"string","enum":["ARBEITSLOSER","HAUSFRAU"]}}},"Nebenkosten":{"type":"object","properties":{"grunderwerbsteuer":{"type":"number"},"maklergebuehr":{"type":"number"},"notargebuehr":{"type":"number"}}},"AusgabenMonatlich":{"type":"object","properties":{"ausgabenMonatlich":{"type":"number"},"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"AngebotZumAntrag":{"type":"object","properties":{"bausparvertraege":{"type":"array","items":{"$ref":"#/definitions/Bausparvertrag"}},"beleihungsRechnung":{"$ref":"#/definitions/BeleihungsRechnung"},"bewertungDesAngebots":{"type":"string","enum":["ANGEBOT_ENTSPRICHT_DER_EMPFEHLUNG_DES_KUNDENBETREUERS","ANGEBOT_ENTSPRICHT_DEM_WUNSCH_DES_KUNDEN"]},"darlehen":{"type":"array","items":{"$ref":"#/definitions/Darlehen"}},"erzeugtAm":{"type":"string","format":"date","description":"Erzeugungsdatum des Angebots"},"kennung":{"type":"string"},"machbarkeitsStatus":{"type":"string","enum":["MACHBAR","UNTER_VORBEHALT_PRODUZENT","NICHT_MACHBAR"]},"meldungen":{"type":"array","items":{"$ref":"#/definitions/Meldung"}},"pruefungsErgebnisse":{"type":"array","items":{"$ref":"#/definitions/AngebotsPruefungsErgebnis"}},"_links":{"$ref":"#/definitions/Links"}}},"Neubau":{"type":"object","properties":{"anzahlTeilzahlungen":{"type":"integer","format":"int32"},"aussenAnlagen":{"type":"number"},"bauNebenkosten":{"type":"number"},"bereitsBeglicheneKosten":{"type":"number"},"erschliessungskosten":{"type":"number"},"grundstueckKaufpreis":{"type":"number"},"herstellungskostenInklusiveEigenleistungen":{"type":"number"},"mobiliarKosten":{"type":"number"},"nebenkosten":{"$ref":"#/definitions/Nebenkosten"},"sonstigeKosten":{"type":"number"}}},"Bausparvertrag":{"type":"object","properties":{"abschlussGebuehr":{"type":"number"},"angebotsHinweisFuerAntragsteller":{"type":"string","description":"nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"},"bausparSumme":{"type":"number"},"einmalzahlung":{"type":"number"},"gesamtLaufzeitInJahren":{"type":"integer","format":"int32"},"id":{"type":"string"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"sparPhase":{"$ref":"#/definitions/SparPhase"},"tarif":{"type":"string"},"tilgungsPhase":{"$ref":"#/definitions/TilgungsPhase"},"typ":{"type":"string"},"vertragsBeginn":{"type":"string","format":"date"},"vertragsNummer":{"type":"string"},"verwaltungsgebuehrenJaehrlich":{"type":"number"},"zuteilungsDatum":{"type":"string","format":"date"}}},"BerechnungsHilfeBetrag":{"type":"object","properties":{"betragNachFinanzierung":{"type":"number","readOnly":true},"betragVorFinanzierung":{"type":"number","readOnly":true}}},"AntragstellerVerknuepfung":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","description":"Redundantes Datum für bessere Menschenlesbarkeit / einfachere Zuordnung"}}},"Antraege":{"type":"object","properties":{"antraege":{"type":"array","items":{"$ref":"#/definitions/Antrag"}},"_links":{"$ref":"#/definitions/Links"}}},"Beschaeftigungsart":{"type":"object","properties":{"angestellterOderArbeiterOderBeamter":{"$ref":"#/definitions/AngestellterOderArbeiterOderBeamter"},"freiberuflerOderSelbstaendiger":{"$ref":"#/definitions/FreiberuflerOderSelbststaendiger"},"hausfrauOderArbeitsloser":{"$ref":"#/definitions/HausfrauOderArbeitsloser"},"rentner":{"$ref":"#/definitions/Rentner"}}},"AngestellterOderArbeiterOderBeamter":{"type":"object","properties":{"anzahlGehaelterProJahr":{"type":"number","format":"double"},"arbeitgeber":{"type":"string"},"arbeitgeberInDeutschlandAnsaessig":{"type":"boolean"},"arbeitgeberNichtInDeutschlandAnsaessigKommentar":{"type":"string","description":"Nur relevant, wenn 'arbeitgeberInDeutschlandAnsaessig' = false"},"befristungsStatusBeiAngestelltenOderArbeitern":{"type":"string","enum":["BEFRISTET","UNBEFRISTET"]},"beruf":{"type":"string"},"beschaeftigtSeit":{"type":"string","format":"date"},"einkommenNettoMonatlich":{"type":"number"},"inProbezeit":{"type":"boolean"},"situationNachRenteneintritt":{"$ref":"#/definitions/SituationNachRenteneintritt"},"typ":{"type":"string","enum":["ANGESTELLTER","ARBEITER","BEAMTER"]}}},"Sparplaene":{"type":"object","properties":{"aktuellerWert":{"type":"number"},"beitragMonatlich":{"type":"number"},"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"maximalAufzuloesenderWert":{"type":"number"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"Darlehen":{"type":"object","properties":{"auszahlungsBetrag":{"type":"number"},"auszahlungsKurs":{"type":"number"},"bereitstellung":{"description":"nicht bei darlehensArt==PRIVAT_DARLEHEN","$ref":"#/definitions/Bereitstellung"},"darlehensBetrag":{"type":"number"},"darlehensTyp":{"type":"string","enum":["ANNUITAETEN_DARLEHEN","FORWARD_DARLEHEN","KFW_DARLEHEN","PRIVAT_DARLEHEN","ZWISCHEN_FINANZIERUNG","VARIABLES_DARLEHEN"]},"effektivZins":{"type":"number"},"effektivZinsRelevanteKosten":{"$ref":"#/definitions/EffektivZinsKosten"},"forwardDarlehen":{"description":"nur bei darlehensArt==FORWARD_DARLEHEN","$ref":"#/definitions/ForwardDarlehen"},"kfwDarlehen":{"description":"nur bei darlehensArt==KFW_DARLEHEN","$ref":"#/definitions/KfwDarlehen"},"konditionWurdeManuellAngepasst":{"type":"boolean"},"privatDarlehen":{"description":"nur bei darlehensArt==PRIVAT_DARLEHEN","$ref":"#/definitions/PrivatDarlehen"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"rateMonatlich":{"type":"number","example":123.34,"description":"Die monatliche Rate in Euro"},"sollZins":{"type":"number","example":2.05,"description":"Der Sollzinssatz in Prozent"},"tilgung":{"description":"nicht bei darlehensArt==ZWISCHEN_FINANZIERUNG","$ref":"#/definitions/Tilgung"},"zinsBindung":{"description":"nicht bei darlehensArt IN [VARIABLES_DARLEHEN,ZWISCHEN_FINANZIERUNG]","$ref":"#/definitions/ZinsBindung"},"zinsZahlungsBeginnAm":{"type":"string","format":"date"},"zwischenFinanzierung":{"description":"nur bei darlehensArt==ZWISCHEN_FINANZIERUNG","$ref":"#/definitions/ZwischenFinanzierung"}}},"Eigentumswohnung":{"type":"object","properties":{"anzahlDerWohneinheitenImObjekt":{"type":"integer","format":"int32"},"anzahlVollgeschosse":{"type":"integer","format":"int32"},"ausstattung":{"type":"string","description":"Angaben zur Ausstattung für alle verschiedene Produktanbieter, aber nicht für ING-DiBa. Erlaubte Werte sind: EINFACH,MITTEL,GEHOBEN,STARK_GEHOBEN. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"baujahrWennNichtNeubau":{"type":"string","example":"2016","description":"Baujahr des Gebäudes. Vierstellige Jahresangabe"},"bauweise":{"type":"string","description":"Erlaubte Werte sind: FACHWERK_MIT_STROH_LEHM,FACHWERK_MIT_ZIEGELN,GLAS_STAHL,HOLZ,MASSIV. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"bezeichnungWohneinheit":{"type":"string"},"gewerbeVermietungsInformationWennGewerbeflaecheVorhanden":{"$ref":"#/definitions/VermietungsInformationen"},"gewerbeflaecheGesamt":{"type":"number"},"gewerbeflaecheVorhanden":{"type":"boolean"},"miteigentumsAnteil":{"$ref":"#/definitions/MiteigentumsAnteil"},"modernisierungsAngabenWennNichtNeubau":{"$ref":"#/definitions/ModernisierungsAngaben"},"wohnVermietungsInformation":{"$ref":"#/definitions/VermietungsInformationen"},"wohnflaecheGesamt":{"type":"number"}}},"Vermoegen":{"type":"object","properties":{"aktuellerWert":{"type":"number"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"maximalAufzuloesenderWert":{"type":"number"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]}}},"Verbindlichkeit":{"type":"object","properties":{"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVerbindlichkeit":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"glaeubiger":{"type":"string"},"laufzeitEnde":{"type":"string","format":"date"},"rateMonatlich":{"type":"number"},"restschuld":{"type":"number"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"wirdAbgeloest":{"type":"boolean"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"Kind":{"type":"object","properties":{"geburtsdatum":{"type":"string","format":"date"},"kindergeldWirdBezogen":{"type":"boolean"},"name":{"type":"string"},"unterhaltsEinnahmenBetragMonatlich":{"type":"number"}}},"AngebotsPruefungsErgebnis":{"type":"object","properties":{"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"rating":{"$ref":"#/definitions/Rating"},"weitereAngaben":{"type":"string","description":"Vom Produktanbieter bei der Angebotsprüfung ergänzte Daten. Das Format entspricht der Definition des Produktanbieters."}}},"MediaType":{"type":"object","properties":{"charSet":{"$ref":"#/definitions/Charset"},"charset":{"$ref":"#/definitions/Charset"},"concrete":{"type":"boolean"},"parameters":{"type":"object","additionalProperties":{"type":"string"}},"qualityValue":{"type":"number","format":"double"},"subtype":{"type":"string"},"type":{"type":"string"},"wildcardSubtype":{"type":"boolean"},"wildcardType":{"type":"boolean"}}},"PrivatDarlehen":{"type":"object","properties":{"laufzeitInMonaten":{"type":"integer","format":"int32"}}},"AnschlussFinanzierung":{"type":"object","properties":{"bereitsBeglicheneKosten":{"type":"number"},"modernisierungsKostenInklEigenleistungen":{"type":"number"},"renovierungsKosten":{"type":"number"},"zusaetzlichesKapital":{"type":"number"}}},"BeleihungsWert":{"type":"object","properties":{"beleihungsWert":{"type":"number"},"immobilie":{"$ref":"#/definitions/ImmobilieVerknuepfung"}}},"AntragsStatus":{"type":"object","properties":{"antragsteller":{"type":"string","enum":["BEANTRAGT","UNTERSCHRIEBEN","NICHT_ANGENOMMEN","WIDERRUFEN"]},"bearbeitungsFortschritt":{"type":"string","enum":["NICHT_VON_PRODUKTANBIETER_BESTAETIGT","VON_PRODUKTANBIETER_BESTAETIGT","FREIGEGEBEN_FUER_SAMMELFORDERUNG","PROVISION_IN_BEARBEITUNG","PROVISON_AN_KUNDENBETREUER_VOLLSTAENDIG_AUSGEZAHLT"]},"produktAnbieter":{"type":"string","enum":["NICHT_BEARBEITET","UNTERSCHRIEBEN","ABGELEHNT","ZURUECKGESTELLT"]}}},"Kauf":{"type":"object","properties":{"bereitsBeglicheneKosten":{"type":"number"},"kaufpreis":{"type":"number"},"mobiliarKosten":{"type":"number"},"modernisierungsKostenInklEigenleistungen":{"type":"number"},"nebenkosten":{"$ref":"#/definitions/Nebenkosten"},"renovierungsKosten":{"type":"number"},"sonstigeKosten":{"type":"number"}}},"Flurstueck":{"type":"object","properties":{"anteil":{"$ref":"#/definitions/MiteigentumsAnteil"},"flur":{"type":"string"},"flurstuecksNummer":{"type":"string"},"groesse":{"type":"number"}}},"ForwardDarlehen":{"type":"object","properties":{"auszahlungsDatum":{"type":"string","format":"date"},"forwardPeriodeInMonaten":{"type":"integer","format":"int32"}}},"KaufNeubauVomBautraeger":{"type":"object","properties":{"anzahlTeilzahlungen":{"type":"integer","format":"int32"},"bereitsBeglicheneKosten":{"type":"number"},"kaufpreisInklEigenleistungen":{"type":"number"},"mobiliarKosten":{"type":"number"},"nebenkosten":{"$ref":"#/definitions/Nebenkosten"},"sonstigeKosten":{"type":"number"}}},"MietAusgaben":{"type":"object","properties":{"ausgabenMonatlich":{"type":"number"},"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"entfallenMitFinanzierung":{"type":"boolean"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"EinkuenfteAusNebentaetigkeit":{"type":"object","properties":{"beginnDerNebentaetigkeit":{"type":"string","format":"date"},"berechnungsHilfeEinnahmen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"einnahmenMonatlich":{"type":"number"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"ImmobilieVerknuepfung":{"type":"object","properties":{"id":{"type":"string"}}},"EinnahmenMonatlich":{"type":"object","properties":{"berechnungsHilfeEinnahmen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"einnahmenMonatlich":{"type":"number"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"Beratung":{"type":"object","properties":{"art":{"type":"string","enum":["PRAESENZ_GESCHAEFT","FERN_ABSATZ_GESCHAEFT","AUSSER_GESCHAEFTSRAUM_VERTRAG"]},"hinweisFuerProduktAnbieter":{"type":"string"},"istKundenBetreuerVerkaeuferOderMaklerDerImmobilie":{"type":"boolean","example":false,"description":"Mit diesem Wert wird ausgedrückt, ob der Kundenbetreuer auch der Immobilienmakler ist."}}},"ZugrundeliegendeDatenZumAntrag":{"type":"object","properties":{"bankverbindung":{"$ref":"#/definitions/Bankverbindung"},"finanzierungsObjekt":{"$ref":"#/definitions/FinanzierungsObjekt"},"haushalte":{"type":"array","items":{"$ref":"#/definitions/Haushalt"}},"_links":{"$ref":"#/definitions/Links"}}},"KfwDarlehen":{"type":"object","properties":{"kfwEnergieEffizienzStandard":{"type":"string","description":"Mögliche Werte: STANDARD_40_PLUS, STANDARD_40, STANDARD_55,STANDARD_70. Nur bei KfW-Programm 153 relevant. Bei neuen Energieeffizienzstandards können auch weitere Werte zulässig werden."},"kfwProgramm":{"type":"string","description":"Mögiche Werte: PROGRAMM_124, PROGRAMM_141, PROGRAMM_151, PROGRAMM_152, PROGRAMM_153, PROGRAMM_155, PROGRAMM_159, PROGRAMM_167. Bei neu aufgelegten KfW-Programmen können auch weitere Werte zulässig werden."},"laufZeitInJahren":{"type":"integer","format":"int32"},"rateMonatlichInDerTilgungsfreienAnlaufzeit":{"type":"number"},"tilgungsFreieAnlaufJahre":{"type":"integer","format":"int32"}}},"GrundbuchAngabe":{"type":"object","properties":{"anmerkungen":{"type":"string"},"bandUndBlatt":{"type":"string","description":"Angabe von Band und Blatt"},"flurStuecke":{"type":"array","items":{"$ref":"#/definitions/Flurstueck"}},"ort":{"type":"string","description":"Ort des als Grundbuchamt zuständigen Amtsgerichtes"},"rechteInAbteilung2":{"description":"Belastungen und Beschränkungen in der Nutzbarkeit des Grundstücks. Leitungsrechte, Verzichte auf Abstandsflächen, Wegerechte, Insolvenzvermerke.","$ref":"#/definitions/RechteAbteilung2"}}},"Grundstueck":{"type":"object","properties":{"grundstuecksArt":{"type":"string","enum":["UNBEBAUTES_WOHNGRUNDSTUECK","UNBEBAUTES_MISCHGRUNDSTUECK","UNBEBAUTES_GEWERBEGRUNDSTUECK","LANDWIRTSCHAFTLICHES_GRUNDSTUECK","SONSTIGES_GRUNDSTUECK"]}}},"ProduktAnbieter":{"type":"object","properties":{"partnerId":{"type":"string"},"produktAnbieterId":{"type":"string"},"vorname":{"type":"string"},"nachname":{"type":"string"},"firmierung":{"type":"string"},"email":{"type":"string"},"telefonnummer":{"type":"string"}}},"BeleihungsRechnung":{"type":"object","properties":{"beleihungsAuslauf":{"type":"number","description":"Der Beleihungsauslauf aus Sicht des Produktanbieters. Berechnet sich aus dem Verhältnis anerkannter Darlehen zur Summe der anerkannten Beleihungswerte."},"beleihungsWerte":{"type":"array","description":"Enthält die vom Produktanbieter anerkannten Beleihungswerte","items":{"$ref":"#/definitions/BeleihungsWert"}},"beleihungsWerteSumme":{"type":"number","description":"Berechnungshilfe: Die Summe aller vom Produktanbieter anerkannten Beleihungswerte"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"}}},"Modernisierung":{"type":"object","properties":{"anzahlTeilzahlungen":{"type":"integer","format":"int32"},"mobiliarKosten":{"type":"number"},"modernisierungsKostenInklEigenleistungen":{"type":"number"},"renovierungsKosten":{"type":"number"},"sonstigeKosten":{"type":"number"},"zusaetzlichesKapital":{"type":"number"}}},"SparPhase":{"type":"object","properties":{"guthabenBeiZuteilung":{"type":"number"},"sparBeitragMonatlich":{"type":"number"},"sparPhaseInJahren":{"type":"integer","format":"int32"}}},"Link":{"type":"object","properties":{"href":{"$ref":"#/definitions/URI"},"type":{"$ref":"#/definitions/MediaType"}}},"Tilgung":{"type":"object","properties":{"anfaenglicheTilgung":{"type":"number","description":"wenn null oder 0: tilgungsausgesetzt"},"sonderTilgungJaehrlich":{"type":"number","description":"nur wenn darlehensArt IN [ANNUITAETEN_DARLEHEN,FORWARD_DARLEHEN] und KEIN tilgungsErsatz"},"tilgungsBeginnAm":{"type":"string","format":"date","description":"nullable"},"tilgungsErsatz":{"description":"nicht bei PRIVAT_DARLEHEN","$ref":"#/definitions/TilgungsErsatz"}}},"TilgungsErsatz":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"}}},"ZinsBindung":{"type":"object","properties":{"endetAm":{"type":"string","format":"date"},"jahre":{"type":"integer","format":"int32"},"monate":{"type":"integer","format":"int32"},"restschuldNachZinsBindungsEnde":{"type":"number"}}},"Rating":{"type":"object","properties":{"ausfallrate":{"type":"number"},"klasse":{"type":"string"},"ratingZeitpunkt":{"type":"string"},"verfahren":{"type":"string"}}},"RechteAbteilung2":{"type":"object","properties":{"beschreibung":{"type":"string"},"betrag":{"type":"number"}}},"URI":{"type":"object","properties":{"absolute":{"type":"boolean"},"authority":{"type":"string"},"fragment":{"type":"string"},"host":{"type":"string"},"opaque":{"type":"boolean"},"path":{"type":"string"},"port":{"type":"integer","format":"int32"},"query":{"type":"string"},"rawAuthority":{"type":"string"},"rawFragment":{"type":"string"},"rawPath":{"type":"string"},"rawQuery":{"type":"string"},"rawSchemeSpecificPart":{"type":"string"},"rawUserInfo":{"type":"string"},"scheme":{"type":"string"},"schemeSpecificPart":{"type":"string"},"userInfo":{"type":"string"}}},"EffektivZinsKosten":{"type":"object","properties":{"beratungsHonorar":{"type":"number"},"grundbuchKosten":{"type":"number"},"sonstigeKosten":{"type":"number"},"tilgungsErsatzProduktKosten":{"type":"number"},"wohnGebaeudeVersicherungsKosten":{"type":"number"},"zinsabsicherungsKosten":{"type":"number"},"zusatzSicherheitsKosten":{"type":"number"}}},"ZwischenFinanzierung":{"type":"object","properties":{"detailsZurVerwendung":{"type":"string"},"maximaleLaufzeitInMonaten":{"type":"integer","format":"int32"},"verwendungsZweck":{"type":"string","enum":["VORFINANZIERUNG_OEFFENTLICHER_MITTEL","VERKAUF_EINES_ANDEREN_OBJEKTS","SONSTIGE_VERWENDUNG"]}}},"ModernisierungsAngaben":{"type":"object","properties":{"modernisierungsGrad":{"type":"string","description":"erlaubt sind GERING,MITTEL,HOCH. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"modernisierungsJahr":{"type":"string","example":"2016","description":"Jahr der Modernisierung der Immobilie. Vierstellige Jahresangabe"}}},"BankUndSparguthaben":{"type":"object","properties":{"aktuellerWert":{"type":"number"},"berechnungsHilfeEinnahmen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"maximalAufzuloesenderWert":{"type":"number"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]},"zinsertragJaehrlich":{"type":"number"}}},"Haus":{"type":"object","properties":{"anzahlDerGewerbeeinheitenBeiMehrfamilienHaus":{"type":"integer","format":"int32"},"anzahlDerWohneinheitenBeiMehrfamilienHaus":{"type":"integer","format":"int32"},"anzahlVollgeschosse":{"type":"integer","format":"int32"},"ausstattung":{"type":"string","description":"Angaben zur Ausstattung für alle verschiedene Produktanbieter, aber nicht für ING-DiBa. Erlaubte Werte sind: EINFACH,MITTEL,GEHOBEN,STARK_GEHOBEN. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"baujahrWennNichtNeubau":{"type":"string","example":"2016","description":"Baujahr des Gebäudes. Vierstellige Jahresangabe"},"bauweise":{"type":"string","description":"Erlaubte Werte sind: FACHWERK_MIT_STROH_LEHM,FACHWERK_MIT_ZIEGELN,GLAS_STAHL,HOLZ,MASSIV. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"dachgeschossAusbau":{"type":"string","description":"Erlaubte Werte sind: FLACHDACH,NICHT_AUSGEBAUT,TEILWEISE_AUSGEBAUT,VOLL_AUSGEBAUT. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"einliegerwohnungVorhandenBeiDoppelOderEinfamilienOderReihenHaus":{"type":"boolean"},"fertighausBeiDoppelOderEinfamilienOderZweifamilienHaus":{"type":"boolean"},"gewerbeVermietungsInformationWennGewerbeflaecheVorhanden":{"$ref":"#/definitions/VermietungsInformationen"},"gewerbeflaecheGesamt":{"type":"number"},"gewerbeflaecheVorhanden":{"type":"boolean"},"hausAnordnungMehrfamilienOderZweifamilienHaus":{"type":"string","enum":["FREISTEHEND","KOPFHAUS","MITTELHAUS"]},"hausAnordnungReihenhaus":{"type":"string","enum":["KOPFHAUS","MITTELHAUS"]},"hausTyp":{"type":"string","enum":["KEIN_TYP_AUSGEWAEHLT","DOPPELHAUSHAELFTE","EINFAMILIENHAUS","MEHRFAMILIENHAUS","REIHENHAUS","ZWEIFAMILIENHAUS"]},"modernisierungsAngabenWennNichtNeubau":{"$ref":"#/definitions/ModernisierungsAngaben"},"unterkellerung":{"type":"string","description":"Erlaubte Werte sind: NICHT_UNTERKELLERT,TEILWEISE_UNTERKELLERT,UNTERKELLERT. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"wohnVermietungsInformation":{"$ref":"#/definitions/VermietungsInformationen"},"wohnflaecheGesamt":{"type":"number"}}},"Antragsteller":{"type":"object","properties":{"anrede":{"type":"string","enum":["FRAU","HERR"]},"anschrift":{"$ref":"#/definitions/Postadresse"},"arbeitserlaubnis":{"type":"boolean","example":false,"description":"wenn keine deutsche Staatsangehörigkeit"},"arbeitserlaubnisBefristetBis":{"type":"string","format":"date","description":"wenn Arbeitserlaubnis befristet"},"aufenthaltsTitel":{"type":"string","description":"wenn keine deutsche Staatsangehörigkeit","enum":["VISUM","AUFENTHALTS_ERLAUBNIS","NIEDERLASSUNGS_ERLAUBNIS","DAUERAUFENTHALT_EU"]},"aufenthaltsTitelBefristetBis":{"type":"string","format":"date","description":"wenn Aufenthaltstitel befristet"},"berufsgruppeBeiIngDiba":{"type":"string","description":"Berufsgruppe des Antragstellers (ING-DiBa) Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind:  ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTSTAENDIG,RENTNER,HAUSMANN,PRIVATIER,SOLDAT,SCHUELER,AZUBI,STUDENT,OHNE. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"beschaeftigung":{"$ref":"#/definitions/Beschaeftigungsart"},"brancheBeiIngDiba":{"type":"string","description":"Branche, in welcher der Antragsteller tätig ist. (ING-DiBa) Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind: BANKEN_VERSICHERUNGEN,BAUGEWERBE,DIENSTLEISTUNGEN_SONSTIGE,EDV_BERATUNG,ENERGIE,ERZIEHUNG_UNTERRICHT,GESUNDHEITSWESEN,HANDEL,HANDWERK,HOTEL_GASTRONOMIE,LANDWIRTSCHAFT,OEFFENTLICHER_DIENST,PRODUKTION_INDUSTRIE,VERKEHR. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"brancheBeiMhb":{"type":"string","description":"Branche, in welcher der Antragsteller tätig ist. (MHB) Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind: VERARBEITENDES_GEWERBE,BAU,HANDEL,VERKEHR_INFORMATION,DIENSTLEISTUNG,SONSTIGES. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"brancheBeiSRating":{"type":"string","description":"Branche, in welcher der Antragsteller tätig ist. (Sparkassen) Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind: BAUGEWERBE,DIENSTLEISTUNGEN,ENERGIE_UND_WASSERVERSORGUNG_BERGBAU,GEBIETSKOERPERSCHAFTEN_UND_SOZIALVERSICHERUNGEN,GESUNDHEITSWESEN,HANDEL,HOTEL_UND_GASTRONOMIE,KREDITINSTITUTE,LAND_UND_FORSTWIRTSCHAFT_FISCHEREI,OEFFENTLICHER_DIENST,ORGANISATIONEN_OHNE_ERWERBSZWECK_PRIVATE_HAUSHALTE,VERARBEITENDES_GEWERBE,VERKEHR_UND_NACHRICHTENUEBERMITTLUNG,VERSICHERUNGEN,SONSTIGE. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"email":{"type":"string"},"externeAntragstellerId":{"type":"string"},"familienstand":{"type":"string","enum":["GESCHIEDEN","GETRENNT_LEBEND","LEBENSPARTNERSCHAFT","LEDIG","VERHEIRATET","VERWITWET"]},"geburtsdatum":{"type":"string","format":"date"},"geburtsort":{"type":"string","description":"Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt. Relevant für Sparprodukte (Bausparkassen)."},"guetertrennungVereinbartWennVerheiratet":{"type":"boolean","example":false,"description":"nur wenn verheiratet"},"id":{"type":"string","readOnly":true},"legitimationsDaten":{"description":"Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.","$ref":"#/definitions/LegitimationsDaten"},"nachname":{"type":"string"},"schufaErgebnis":{"$ref":"#/definitions/SchufaErgebnis"},"staatsangehoerigkeit":{"$ref":"#/definitions/Staat"},"telefonnummer":{"type":"string"},"telefonnummerVorwahl":{"type":"string"},"titelDoktor":{"type":"boolean"},"titelProfessor":{"type":"boolean"},"verheiratetMitAntragsteller":{"description":"nur wenn verheiratet","$ref":"#/definitions/AntragstellerVerknuepfung"},"vorAnschrift":{"$ref":"#/definitions/Postadresse"},"vorname":{"type":"string"},"weitereKontaktMoeglichkeiten":{"type":"string"},"wohnhaftSeit":{"type":"string","format":"date"}}},"Partner":{"type":"object","properties":{"partnerId":{"type":"string"},"vorname":{"type":"string"},"nachname":{"type":"string"},"firmierung":{"type":"string"},"email":{"type":"string"},"telefonnummer":{"type":"string"},"_links":{"$ref":"#/definitions/Links"}},"description":"Minimale Informationen zum Partner der EP2 Plattform, weitere Informationen können über die HAL-Relation abgerufen werden."},"VermietungsInformationen":{"type":"object","properties":{"mieteinnahmenNettoKaltMonatlich":{"type":"number"},"nutzungsArt":{"type":"string","enum":["EIGENGENUTZT","TEIL_VERMIETET","VERMIETET"]},"vermieteteFlaecheBeiTeilvermietung":{"type":"number"}}},"BestehenderBausparvertrag":{"type":"object","properties":{"abschlussGebuehr":{"type":"number"},"aktuellerWert":{"type":"number"},"bausparSumme":{"type":"number"},"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"einmalzahlung":{"type":"number"},"id":{"type":"string"},"maximalAufzuloesenderBetrag":{"type":"number"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"sparBeitragMonatlich":{"type":"number"},"tarif":{"type":"string"},"typ":{"type":"string"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"vermoegensEinsatz":{"type":"string","enum":["KEIN_EINSATZ","ABTRETEN","AUFLOESEN"]},"vertragsBeginn":{"type":"string","format":"date"},"vertragsNummer":{"type":"string"},"verwaltungsgebuehrenJaehrlich":{"type":"number"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]},"zuteilungsDatum":{"type":"string","format":"date"}}},"Antrag":{"type":"object","properties":{"angebot":{"description":"Das angenommene Angebot, auf dem dieser Antrag basiert","$ref":"#/definitions/AngebotZumAntrag"},"ansprechpartner":{"description":"Für Rückfragen auf Seite des Vertriebs, kann mit dem Vermittler identisch sein","$ref":"#/definitions/Partner"},"antragsNummer":{"type":"string"},"beratung":{"$ref":"#/definitions/Beratung"},"datenKontext":{"type":"string","enum":["TEST_MODUS","ECHT_GESCHAEFT"]},"dokumente":{"type":"array","items":{"$ref":"#/definitions/Dokument"}},"kreditSachbearbeiter":{"description":"Gewählter Sachbearbeiter aus Seite des Kreditvertriebs","$ref":"#/definitions/Partner"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"status":{"$ref":"#/definitions/AntragsStatus"},"vermittler":{"description":"Partner auf Seite des Vertriebs","$ref":"#/definitions/Partner"},"zeitpunktDerAnnahme":{"type":"string","format":"date","description":"Zeitpunkt, zu dem der Antrag im System erstellt wurde."},"zugrundeliegendeDaten":{"description":"Basisdaten des Kunden, die für die Berechnung des Angebots relevant waren","$ref":"#/definitions/ZugrundeliegendeDatenZumAntrag"},"_links":{"$ref":"#/definitions/Links"}},"description":"Diese Resource repräsentiert einen Antrag in Baufi Smart."},"LebensOderRentenversicherungVermoegen":{"type":"object","properties":{"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"id":{"type":"string"},"maximalAufzuloesenderBetrag":{"type":"number"},"praemieMonatlich":{"type":"number"},"rueckkaufsWertAktuell":{"type":"number"},"tarif":{"type":"string"},"typ":{"type":"string","enum":["KAPITALBILDENDE_LEBENSVERSICHERUNG","FONDSGEBUNDENE_LEBENSVERSICHERUNG","KAPITALBILDENDE_RENTENVERSICHERUNG","FONDSGEBUNDENE_RENTENVERSICHERUNG","RISIKO_LEBENSVERSICHERUNG"]},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"vermoegensEinsatz":{"type":"string","enum":["KEIN_EINSATZ","ABTRETEN","AUFLOESEN"]},"versicherungsGesellschaft":{"type":"string"},"versicherungsSumme":{"type":"number"},"vertragsBeginn":{"type":"string","format":"date"},"vertragsEnde":{"type":"string","format":"date"},"vertragsNummer":{"type":"string"},"verwaltungsgebuehrenJaehrlich":{"type":"number"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"Kapitalbeschaffung":{"type":"object","properties":{"betrag":{"type":"number"},"verwendungKommentar":{"type":"string"}}},"FinanzierungsObjekt":{"type":"object","properties":{"adresse":{"$ref":"#/definitions/Postadresse"},"autostellplaetze":{"type":"array","items":{"$ref":"#/definitions/Autostellplatz"}},"bestehendeDarlehen":{"type":"array","items":{"$ref":"#/definitions/BestehendesDarlehenDesFinanzierungsObjekts"}},"eigentumswohnung":{"description":"muss leer sein, wenn grundstück oder haus gefüllt ist","$ref":"#/definitions/Eigentumswohnung"},"erbbaurecht":{"$ref":"#/definitions/Erbbaurecht"},"grundbuchAngabe":{"$ref":"#/definitions/GrundbuchAngabe"},"grundstueck":{"description":"muss leer sein, wenn eigentumswohnung oder haus gefüllt ist","$ref":"#/definitions/Grundstueck"},"grundstuecksGroesse":{"type":"number"},"haus":{"description":"muss leer sein, wenn eigentumswohnung oder grundstück gefüllt ist","$ref":"#/definitions/Haus"},"id":{"type":"string"},"keineAutostellplaetzeVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'autostellplaetze' leer ist"},"keineBestehendenDarlehenVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'bestehendeDarlehen' leer ist"},"verkehrswert":{"type":"number","description":"Nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung und Kapitalbeschaffung"}}},"BerechnungsHilfeZahlungen":{"type":"object","properties":{"jaehrlichNachFinanzierung":{"type":"number","readOnly":true},"jaehrlichVorFinanzierung":{"type":"number","readOnly":true},"monatlichNachFinanzierung":{"type":"number","readOnly":true},"monatlichVorFinanzierung":{"type":"number","readOnly":true}}},"Charset":{"type":"object","properties":{"registered":{"type":"boolean"}}},"Autostellplatz":{"type":"object","properties":{"mieteinnahmenMonatlich":{"type":"number"},"typ":{"type":"string","enum":["STELLPLATZ","CARPORT","GARAGE","DOPPEL_GARAGE","KELLER_GARAGE","TIEFGARAGEN_STELLPLATZ"]}}},"Erbbaurecht":{"type":"object","properties":{"erbbaurechtVorhanden":{"type":"boolean"},"erbbauzinsJaehrlich":{"type":"number"},"grundstuecksEigentuemer":{"type":"string","enum":["ANDERE","OEFFENTLICH_KIRCHLICH"]},"laufzeitBisJahr":{"type":"string","example":"2016","description":"Vierstellige Jahresangabe"}}},"Dokument":{"type":"object","properties":{"art":{"type":"string","description":"ist nicht immer vorhanden","readOnly":true},"href":{"$ref":"#/definitions/URI"},"name":{"type":"string"},"type":{"$ref":"#/definitions/MediaType"}}},"FreiberuflerOderSelbststaendiger":{"type":"object","properties":{"beruf":{"type":"string"},"einkommenNettoJaehrlich":{"type":"number"},"situationNachRenteneintritt":{"$ref":"#/definitions/SituationNachRenteneintritt"},"taetigSeit":{"type":"string","format":"date"},"taetigkeit":{"type":"string","description":"Erlaubte Werte sind: ALTENPFLEGER,AMBULANTER_KRANKENPFLEGER,ANWALT,APOTHEKER,ARCHITEKT,ARZT,BESTATTER,DATENSCHUTZBEAUFTRAGTER,DEKORATEUR,DIAETASSISTENT,DOLMETSCHER,EDV_BERATER,ERGOTHERAPEUT,ERNAEHRUNGSBERATER,FOTOGRAF,GEOGRAF,GRAFIKDESIGNER,GRAFIKER,HEBAMME,HEILMASSEUR,HEILPRAKTIKER,HISTORIKER,INFORMATIKER,INGENIEUR,INSOLVENZVERWALTER,JOURNALIST,KLASSISCHER_KONZERTMUSIKER,KONSTRUKTEUR,KRANKENGYMNAST,KRANKENPFLEGER,KRANKENSCHWESTER,LOGOPAEDE,MEDIZINISCH_TECHN_ASSISTENT,NOTAR,OPERNSAENGER,PERSONALBERATER,PHYSIOTHERAPEUT,PSYCHOLOGE,RAUMAUSSTATTER,RUNDFUNKSPRECHER,SACHVERSTAENDIGER,STADTPLANER,STATIKER,STEUERBERATER,TIERARZT,UNTERNEHMENSBERATER,VERMITTLER,WIRTSCH_BUCHPRUEFER_REVISOR,ZAHNARZT,ZAHNTECHNIKER,SONSTIGES. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"typ":{"type":"string","enum":["FREIBERUFLER","SELBSTAENDIGER"]}}},"SituationNachRenteneintritt":{"type":"object","properties":{"gesetzlicheRenteMonatlich":{"type":"number"},"privateRenteMonatlich":{"type":"number"},"rentenBeginn":{"type":"string","format":"date"},"sonstigesEinkommenMonatlich":{"type":"number"}}},"Wertpapiere":{"type":"object","properties":{"aktuellerWert":{"type":"number"},"berechnungsHilfeEinnahmen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"dividendenJaehrlich":{"type":"number"},"maximalAufzuloesenderWert":{"type":"number"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"BestehendesDarlehen":{"type":"object","properties":{"abzuloesendeRestschuld":{"type":"number"},"aktuelleRestschuldWennNichtAbzuloesen":{"type":"number","description":"nur wenn wirdAbgeloest==true"},"darlehensArt":{"type":"string","description":"Erlaubte Werte sind: BAUSPARDARLEHEN,FOERDERDARLEHEN,IMMOBILIENDARLEHEN,SONSTIGES_DARLEHEN. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"darlehensGeber":{"$ref":"#/definitions/ProduktAnbieter"},"eingetrageneGrundschuld":{"type":"number"},"id":{"type":"string","readOnly":true},"rateMonatlich":{"type":"number"},"zinsBindungEndetAm":{"type":"string","format":"date"}}},"BestehendesDarlehenDesFinanzierungsObjekts":{"type":"object","properties":{"abzuloesendeRestschuld":{"type":"number"},"aktuelleRestschuldWennNichtAbzuloesen":{"type":"number","description":"nur wenn wirdAbgeloest==true"},"darlehensArt":{"type":"string","description":"Erlaubte Werte sind: BAUSPARDARLEHEN,FOERDERDARLEHEN,IMMOBILIENDARLEHEN,SONSTIGES_DARLEHEN. Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."},"darlehensGeber":{"$ref":"#/definitions/ProduktAnbieter"},"eingetrageneGrundschuld":{"type":"number"},"id":{"type":"string","readOnly":true},"rateMonatlich":{"type":"number"},"verwendenAls":{"type":"string","description":"Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben, behandelt werden soll.","enum":["ABLOESEN","TRITT_IM_RANG_ZURUECK","TRITT_NICHT_IM_RANG_ZURUECK"]},"zinsBindungEndetAm":{"type":"string","format":"date"}}},"Staat":{"type":"object","properties":{"isoCountryCode":{"type":"string"},"name":{"type":"string"}}},"MiteigentumsAnteil":{"type":"object","properties":{"anteil":{"type":"number","format":"double"},"gesamt":{"type":"integer","format":"int32"}}},"SchufaErgebnis":{"type":"object","properties":{"antragstellerUnbekannt":{"type":"boolean","example":false,"description":"Der Antragsteller ist bei der Schufa unbekannt."},"inManuellerNachbehandlung":{"type":"boolean","example":false,"description":"Die Ermittlung des Schufa-Scores verzögert sich, wenn sich die Anfrage bei der Schufa in manueller Nachbehandlung befindet."},"score":{"type":"string"}}},"Links":{"type":"object","properties":{"self":{"$ref":"#/definitions/Link"}}},"LegitimationsDaten":{"type":"object","properties":{"ausstellendeBehoerde":{"type":"string"},"ausstellungsdatum":{"type":"string","format":"date"},"ausweisArt":{"type":"string","enum":["PERSONALAUSWEIS","REISEPASS","ANDERE"]},"ausweisArtBeiAndererAusweis":{"type":"string","description":"Nur wenn ausweisArt = ANDERE"},"ausweisNummer":{"type":"string"}}},"Rentner":{"type":"object","properties":{"staatlicheRenteNettoMonatlich":{"type":"number"}}}}}