{"swagger":"2.0","info":{"description":"Die EUROPACE API zum Auslesen von Anträgen und Vorgängen.\n\nDie API ist zur Zeit in der Entwicklung.","version":"0.1","title":"Auslesen API","contact":{"name":"Europace AG","url":"www.europace2.de","email":"helpdesk@europace.de"}},"host":"www.europace2.de/api-mock","basePath":"/","tags":[{"name":"Antraege","description":"Dieser Endpunkt repräsentiert die Produktanbietersicht."}],"paths":{"/antraege":{"get":{"tags":["Antraege"],"summary":"alle Anträge abrufen","description":"Es werden alle Anträge ausgeliefert, die der authentifizierten Partner sehen darf. Offen: Sortierung, Pagination, Filterung","operationId":"getAllUsingGET","consumes":["*/*"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Antraege"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"oauth2":["API"]}]}},"/antraege/{vorgangsNummer}":{"get":{"tags":["Antraege"],"summary":"alle Anträge zu einem Vorgang abrufen","description":"Als Parameter wird die Vorgangsnummer verwendet, unter der ein Vertrieb in BaufiSmart gearbeitet hat.","operationId":"allByVorgangUsingGET","consumes":["*/*"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"vorgangsNummer","in":"path","description":"Nummer des Vorgangs, zu dem dieser Antrag zugeordnet ist","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AntraegeZumVorgang"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"oauth2":["API"]}]}},"/antraege/{vorgangsNummer}/{antragsNummer}":{"get":{"tags":["Antraege"],"summary":"einen Antrag abrufen","description":"Als Parameter wird die Antragsnummer verwendet, die aus der BaufiSmart erzeugt werden. Diese Nummer ist zweigeteilt.","operationId":"getByIdUsingGET","consumes":["*/*"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"vorgangsNummer","in":"path","description":"Nummer des Vorgangs, zu dem dieser Antrag zugeordnet ist","required":true,"type":"string"},{"name":"antragsNummer","in":"path","description":"Antragsnummer","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Antrag"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"oauth2":["API"]}]}},"/antraege/{vorgangsNummer}/{antragsNummer}/angebot":{"get":{"tags":["Antraege"],"summary":"Angebot des Antrags abrufen","description":"Es handelt sich um das angenommene Angebot, das zu diesem Antrag geführt hat.","operationId":"getAngebotUsingGET","consumes":["*/*"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"vorgangsNummer","in":"path","description":"Nummer des Vorgangs, zu dem dieser Antrag zugeordnet ist","required":true,"type":"string"},{"name":"antragsNummer","in":"path","description":"Nummer des Antrags","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AngebotZumAntrag"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"oauth2":["API"]}]}},"/antraege/{vorgangsNummer}/{antragsNummer}/zugrundeliegendeDaten":{"get":{"tags":["Antraege"],"summary":"Die dem Antrag zugrundeliegenden Daten abrufen","operationId":"getZugrundeliegendeDatenUsingGET","consumes":["*/*"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"vorgangsNummer","in":"path","description":"Nummer des Vorgangs, zu dem dieser Antrag zugeordnet ist","required":true,"type":"string"},{"name":"antragsNummer","in":"path","description":"Nummer des Antrags","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ZugrundeliegendeDatenZumAntrag"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"oauth2":["API"]}]}}},"securityDefinitions":{"oauth2":{"type":"oauth2","tokenUrl":"http://www.europace2.de/api-mock/login","flow":"password","scopes":{"API":"Authorisation Scope für die gesamte API."}}},"definitions":{"Bankverbindung":{"type":"object","properties":{"bankleitzahl":{"type":"string"},"bic":{"type":"string"},"iban":{"type":"string"},"kontoinhaber":{"type":"string","enum":["ANTRAGSTELLER_1","ANTRAGSTELLER_2","BEIDE_ANTRAGSTELLER"]},"kontonummer":{"type":"string"},"kreditinstitut":{"type":"string"}}},"HaushaltsPositionen":{"type":"object","properties":{"ausgabenSonstigeMonatlich":{"type":"array","items":{"$ref":"#/definitions/AusgabenMonatlich"}},"bankUndSparguthaben":{"type":"array","items":{"$ref":"#/definitions/BankUndSparguthaben"}},"bausparvertrag":{"type":"array","items":{"$ref":"#/definitions/BestehenderBausparvertrag"}},"berechnungsHilfeAusgabenSumme":{"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeEinnahmenSumme":{"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVerbindlichkeitenSumme":{"$ref":"#/definitions/BerechnungsHilfeBetrag"},"berechnungsHilfeVermoegenSumme":{"$ref":"#/definitions/BerechnungsHilfeBetrag"},"ehegattenUnterhaltEinnahmenMonatlich":{"type":"array","items":{"$ref":"#/definitions/EinnahmenMonatlich"}},"einkuenfteAusNebentaetigkeit":{"type":"array","items":{"$ref":"#/definitions/EinkuenfteAusNebentaetigkeit"}},"einnahmenSonstigeMonatlich":{"type":"array","items":{"$ref":"#/definitions/EinnahmenMonatlich"}},"kindergeld":{"type":"array","description":"Read-Only-Feld. Wird dynamisch aus den Angaben zu den Kindern berechnet. Pro kindergelderhaltendem Kind ein Listenelement.","items":{"$ref":"#/definitions/EinnahmenMonatlich"}},"lebensUndRentenversicherung":{"type":"array","items":{"$ref":"#/definitions/LebensOderRentenversicherungVermoegen"}},"mietAusgaben":{"type":"array","items":{"$ref":"#/definitions/MietAusgaben"}},"privateDarlehen":{"type":"array","items":{"$ref":"#/definitions/Verbindlichkeit"}},"privateKrankenversicherungBeitragMonatlich":{"type":"array","items":{"$ref":"#/definitions/AusgabenMonatlich"}},"ratenkredit":{"type":"array","items":{"$ref":"#/definitions/Verbindlichkeit"}},"sparplaene":{"type":"array","items":{"$ref":"#/definitions/Sparplaene"}},"unbefristeteZusatzRenteMonatlich":{"type":"array","items":{"$ref":"#/definitions/EinnahmenMonatlich"}},"unterhaltsVerpflichtungMonatlich":{"type":"array","items":{"$ref":"#/definitions/AusgabenMonatlich"}},"variableEinkuenfteMonatlich":{"type":"array","items":{"$ref":"#/definitions/EinnahmenMonatlich"}},"verbindlichkeitSonstige":{"type":"array","items":{"$ref":"#/definitions/Verbindlichkeit"}},"vermoegenSonstige":{"type":"array","items":{"$ref":"#/definitions/Vermoegen"}},"versicherungsAusgabenSonstigeMonatlich":{"type":"array","items":{"$ref":"#/definitions/AusgabenMonatlich"}},"wertpapiere":{"type":"array","items":{"$ref":"#/definitions/Wertpapiere"}}}},"Postadresse":{"type":"object","properties":{"hausnummer":{"type":"string"},"ort":{"type":"string"},"postleitzahl":{"type":"string"},"strasse":{"type":"string"}}},"TilgungsPhase":{"type":"object","properties":{"bausparDarlehenSumme":{"type":"number"},"darlehensGebuehrEinmalig":{"type":"number"},"sollZinsNachZuteilung":{"type":"number"},"tilgungsBeitragMonatlich":{"type":"number"},"tilgungsPhaseInJahren":{"type":"integer","format":"int32"}}},"Bereitstellung":{"type":"object","properties":{"bereitstellungsZins":{"type":"number"},"bereitstellungsZinsFreieZeitInMonaten":{"type":"integer","format":"int32"}}},"Meldung":{"type":"object","properties":{"kategorie":{"type":"string","enum":["AUSZAHLUNGS_VORAUSSETZUNG","MACHBAR","MACHBARKEITS_HINWEIS","ANPASSUNG_KUNDENWUNSCH","ANPASSUNG_VERTRIEBSWUNSCH","UNBERUECKSICHTIGTE_ANGABE","KONDITIONEN_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN","KONDITIONEN_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN","MACHBARKEIT_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN","MACHBARKEIT_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN","MACHBAR_UNTER_VORBEHALT_PRODUZENT","NICHT_MACHBAR","NICHT_ANBIETBAR"]},"kreditEntscheider":{"$ref":"#/definitions/ProduktAnbieter"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"text":{"type":"string"},"zuordnung":{"type":"string","enum":["ANTRAGSTELLER","IMMOBILIE","VORHABEN","ALTERNATIV","ANPASSUNG","UNBERUECKSICHTIGTE_ANGABE"]}}},"BestehendeImmobilie":{"type":"object","properties":{"adresse":{"$ref":"#/definitions/Postadresse"},"autostellplaetze":{"type":"array","items":{"$ref":"#/definitions/Autostellplatz"}},"bestehendeDarlehen":{"type":"array","items":{"$ref":"#/definitions/BestehendesDarlehen"}},"eigentumswohnung":{"description":"muss leer sein, wenn grundstück oder haus gefüllt ist","$ref":"#/definitions/Eigentumswohnung"},"erbbaurecht":{"$ref":"#/definitions/Erbbaurecht"},"grundbuchAngabe":{"$ref":"#/definitions/GrundbuchAngabe"},"grundstueck":{"description":"muss leer sein, wenn eigentumswohnung oder haus gefüllt ist","$ref":"#/definitions/Grundstueck"},"grundstuecksGroesse":{"$ref":"#/definitions/Flaeche"},"haus":{"description":"muss leer sein, wenn eigentumswohnung oder grundstück gefüllt ist","$ref":"#/definitions/Haus"},"id":{"type":"string","readOnly":true},"immobilienEinsatz":{"type":"string","enum":["GAR_NICHT","VERKAUFEN","ALS_ZUSATZSICHERHEIT"]},"keineAutostellplaetzeVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'autostellplaetze' leer ist"},"keineBestehendenDarlehenVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'bestehendeDarlehen' leer ist"},"maximalEinzusetzenderBetragWennVerkauf":{"type":"number"},"verkehrswert":{"type":"number"}}},"Haushalt":{"type":"object","properties":{"antragsteller":{"type":"array","items":{"$ref":"#/definitions/Antragsteller"}},"bankverbindung":{"$ref":"#/definitions/Bankverbindung"},"bestehendeImmobilien":{"type":"array","items":{"$ref":"#/definitions/BestehendeImmobilie"}},"einnahmenAusgabenVermoegenVerbindlichkeiten":{"$ref":"#/definitions/HaushaltsPositionen"},"keineBestehendenImmobilienVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'bestehendeImmobilien' leer ist"},"keineKinderVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'kinder' leer ist"},"kinder":{"type":"array","items":{"$ref":"#/definitions/Kind"}}}},"HausfrauOderArbeitsloser":{"type":"object","properties":{"beruf":{"type":"string"},"situationNachRenteneintritt":{"$ref":"#/definitions/SituationNachRenteneintritt"},"sonstigesRegelmaessigesEinkommenNettoMonatlich":{"type":"number"},"typ":{"type":"string","enum":["ANGESTELLTER","ARBEITER","ARBEITSLOSER","BEAMTER","FREIBERUFLER","HAUSFRAU","RENTNER","SELBSTAENDIGER"]}}},"Nebenkosten":{"type":"object","properties":{"grunderwerbsteuer":{"type":"number"},"maklergebuehr":{"type":"number"},"notargebuehr":{"type":"number"}}},"AusgabenMonatlich":{"type":"object","properties":{"ausgabenMonatlich":{"type":"number"},"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"AngebotZumAntrag":{"type":"object","properties":{"angebotsFristEndeAm":{"type":"string","format":"date"},"anpassungsStatus":{"type":"string","enum":["NICHT_ANGEPASST","ANGEPASST","ALTERNATIV"]},"bausparvertraege":{"type":"array","items":{"$ref":"#/definitions/EuropaceBausparAngebot"}},"bewertungDesAngebots":{"type":"string","enum":["ANGEBOT_ENTSPRICHT_MEINER_EMPFEHLUNG","ANGEBOT_ENTSPRICHT_DEM_WUNSCH_DES_KUNDEN"]},"darlehen":{"type":"array","items":{"$ref":"#/definitions/Darlehen"}},"id":{"type":"string","readOnly":true},"kennung":{"type":"string"},"konditionsAnpassungsBegruendung":{"type":"string"},"machbarkeitsStatus":{"type":"string","enum":["MACHBAR","UNTER_VORBEHALT_PRODUZENT","NICHT_MACHBAR"]},"meldungen":{"$ref":"#/definitions/Meldungen"},"rueckdatierungsFristEndeAm":{"type":"string","format":"date"},"_links":{"$ref":"#/definitions/Links"}}},"Neubau":{"type":"object","properties":{"anzahlTeilzahlungen":{"type":"integer","format":"int32"},"aussenAnlagen":{"type":"number"},"bauNebenkosten":{"type":"number"},"bereitsBeglicheneKosten":{"type":"number"},"erschliessungskosten":{"type":"number"},"grundstueckKaufpreis":{"type":"number"},"herstellungskostenInklusiveEigenleistungen":{"type":"number"},"mobiliarKosten":{"type":"number"},"nebenkosten":{"$ref":"#/definitions/Nebenkosten"},"sonstigeKosten":{"type":"number"}}},"BerechnungsHilfeBetrag":{"type":"object","properties":{"betragNachFinanzierung":{"type":"number","readOnly":true},"betragVorFinanzierung":{"type":"number","readOnly":true}}},"Antraege":{"type":"object","properties":{"antraege":{"type":"array","items":{"$ref":"#/definitions/Antrag"}},"_links":{"$ref":"#/definitions/Links"}}},"Beschaeftigungsart":{"type":"object","properties":{"angestellterOderArbeiterOderBeamter":{"$ref":"#/definitions/AngestellterOderArbeiterOderBeamter"},"freiberuflerOderSelbstaendiger":{"$ref":"#/definitions/FreiberuflerOderSelbststaendiger"},"hausfrauOderArbeitsloser":{"$ref":"#/definitions/HausfrauOderArbeitsloser"},"rentner":{"$ref":"#/definitions/Rentner"}}},"AngestellterOderArbeiterOderBeamter":{"type":"object","properties":{"anzahlGehaelterProJahr":{"type":"number","format":"double"},"arbeitgeber":{"type":"string"},"arbeitgeberInDeutschlandAnsaessig":{"type":"boolean"},"arbeitgeberNichtInDeutschlandAnsaessigKommentar":{"type":"string","description":"Nur relevant, wenn 'arbeitgeberInDeutschlandAnsaessig' = false"},"befristungsStatusBeiAngestelltenOderArbeitern":{"type":"string","enum":["BEFRISTET","UNBEFRISTET"]},"beruf":{"type":"string"},"beschaeftigtSeit":{"type":"string","format":"date"},"einkommenNettoMonatlich":{"type":"number"},"inProbezeit":{"type":"boolean"},"situationNachRenteneintritt":{"$ref":"#/definitions/SituationNachRenteneintritt"},"typ":{"type":"string","enum":["ANGESTELLTER","ARBEITER","ARBEITSLOSER","BEAMTER","FREIBERUFLER","HAUSFRAU","RENTNER","SELBSTAENDIGER"]}}},"AntraegeZumVorgang":{"type":"object","properties":{"antraege":{"type":"array","items":{"$ref":"#/definitions/Antrag"}},"_links":{"$ref":"#/definitions/Links"}}},"KfwDarlehensWunsch":{"type":"object","properties":{"abzuloesendeAltdarlehen":{"type":"array","description":"Hierbei handelt es sich um bestehende Darlehen der Immobilie","items":{"$ref":"#/definitions/BestehendesDarlehenVerknuepfung"}},"bestehendesDarlehenDerImmobilieIdsBeiAbloesung":{"type":"array","description":"für Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG","items":{"type":"string"}},"darlehensBetrag":{"type":"number"},"kfwEnergieEffizienzStandard":{"type":"string","description":"nur bei Programm 153","enum":["STANDARD_40_PLUS","STANDARD_40","STANDARD_55"]},"kfwProgramm":{"type":"integer","format":"int32","enum":[124,151,152,153,159,167]},"laufzeitInJahren":{"type":"integer","format":"int32"},"tilgungsfreieAnlaufjahre":{"type":"integer","format":"int32","description":"Maximalwert abhängig von der Laufzeit","enum":[1,2,3,4,5]},"zinsbindungInJahren":{"type":"integer","format":"int32","description":"Programm 124: 5 oder 10, sonst: 10 oder 20","enum":[5,10,20]}}},"Flaeche":{"type":"object"},"Sparplaene":{"type":"object","properties":{"aktuellerWert":{"type":"number"},"beitragMonatlich":{"type":"number"},"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"maximalAufzuloesenderWert":{"type":"number"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"Darlehen":{"type":"object","properties":{"abzuloesendeAltdarlehen":{"type":"array","description":"Hierbei handelt es sich um bestehende Darlehen der Immobilie","items":{"$ref":"#/definitions/BestehendesDarlehenVerknuepfung"}},"auszahlungsBetrag":{"type":"number"},"auszahlungsKurs":{"type":"number"},"bereitstellung":{"description":"nicht bei darlehensArt==PRIVAT_DARLEHEN","$ref":"#/definitions/Bereitstellung"},"darlehensBetrag":{"type":"number"},"darlehensTyp":{"type":"string","enum":["ANNUITAETEN_DARLEHEN","FORWARD_DARLEHEN","KFW_DARLEHEN","PRIVAT_DARLEHEN","ZWISCHEN_FINANZIERUNG","VARIABLES_DARLEHEN"]},"effektivZins":{"type":"number"},"effektivZinsRelevanteKosten":{"$ref":"#/definitions/EffektivZinsKosten"},"forwardDarlehen":{"description":"nur bei darlehensArt==FORWARD_DARLEHEN","$ref":"#/definitions/ForwardDarlehen"},"id":{"type":"string","readOnly":true},"kennung":{"type":"string"},"kfwDarlehen":{"description":"nur bei darlehensArt==KFW_DARLEHEN","$ref":"#/definitions/KfwDarlehen"},"konditionWurdeManuellAngepasst":{"type":"boolean"},"kreditEntscheider":{"$ref":"#/definitions/ProduktAnbieter"},"privatDarlehen":{"description":"nur bei darlehensArt==PRIVAT_DARLEHEN","$ref":"#/definitions/PrivatDarlehen"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"produktDetails":{"type":"array","items":{"type":"string"}},"provision":{"$ref":"#/definitions/Provision"},"rateMonatlich":{"type":"number","example":123.34,"description":"Die monatliche Rate in Euro"},"restschuldNachZinsbindungsende":{"type":"number"},"sollZins":{"type":"number","example":2.05,"description":"Der Sollzinssatz in Prozent"},"tilgung":{"description":"nicht bei darlehensArt==ZWISCHEN_FINANZIERUNG","$ref":"#/definitions/Tilgung"},"zinsBindung":{"description":"nicht bei darlehensArt IN [VARIABLES_DARLEHEN,ZWISCHEN_FINANZIERUNG]","$ref":"#/definitions/ZinsBindung"},"zinsZahlungsBeginnAm":{"type":"string","format":"date"},"zwischenFinanzierung":{"description":"nur bei darlehensArt==ZWISCHEN_FINANZIERUNG","$ref":"#/definitions/ZwischenFinanzierung"}}},"Eigentumswohnung":{"type":"object","properties":{"anzahlDerWohneinheitenImObjekt":{"type":"integer","format":"int32"},"anzahlVollgeschosse":{"type":"integer","format":"int32"},"baujahrWennNichtNeubau":{"type":"string","example":"2016","description":"Baujahr des Gebäudes. Vierstellige Jahresangabe"},"bauweise":{"type":"string","enum":["FACHWERK_MIT_STROH_LEHM","FACHWERK_MIT_ZIEGELN","GLAS_STAHL","HOLZ","MASSIV"]},"bezeichnungWohneinheit":{"type":"string"},"gewerbeVermietungsInformationWennGewerbeflaecheVorhanden":{"$ref":"#/definitions/VermietungsInformationen"},"gewerbeflaecheGesamt":{"$ref":"#/definitions/Flaeche"},"gewerbeflaecheVorhanden":{"type":"boolean"},"miteigentumsAnteil":{"$ref":"#/definitions/MiteigentumsAnteil"},"modernisierungsAngabenWennNichtNeubau":{"$ref":"#/definitions/ModernisierungsAngaben"},"wohnVermietungsInformation":{"$ref":"#/definitions/VermietungsInformationen"},"wohnflaecheGesamt":{"$ref":"#/definitions/Flaeche"}}},"Vermoegen":{"type":"object","properties":{"aktuellerWert":{"type":"number"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"maximalAufzuloesenderWert":{"type":"number"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]}}},"Verbindlichkeit":{"type":"object","properties":{"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVerbindlichkeit":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"glaeubiger":{"type":"string"},"laufzeitEnde":{"type":"string","format":"date"},"rateMonatlich":{"type":"number"},"restschuld":{"type":"number"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"wirdAbgeloest":{"type":"boolean"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"Kind":{"type":"object","properties":{"geburtsdatum":{"type":"string","format":"date"},"kindergeldWirdBezogen":{"type":"boolean"},"name":{"type":"string"},"unterhaltsEinnahmenBetragMonatlich":{"type":"number"}}},"Finanzbedarf":{"type":"object","properties":{"anschlussfinanzierung":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/AnschlussFinanzierung"},"kapitalbeschaffung":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/Kapitalbeschaffung"},"kauf":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/Kauf"},"kaufNeubauVomBautraeger":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/KaufNeubauVomBautraeger"},"modernisierung":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/Modernisierung"},"neubau":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/Neubau"}}},"PrivatDarlehen":{"type":"object","properties":{"laufzeitInMonaten":{"type":"integer","format":"int32"},"zinsBindungInMonaten":{"type":"integer","format":"int32"}}},"AnschlussFinanzierung":{"type":"object","properties":{"bereitsBeglicheneKosten":{"type":"number"},"modernisierungsKostenInklEigenleistungen":{"type":"number"},"renovierungsKosten":{"type":"number"},"zusaetzlichesKapital":{"type":"number"}}},"AntragsStatus":{"type":"object","properties":{"antragStatus":{"type":"string","description":"aggregiert","readOnly":true,"enum":["BEANTRAGT_ANTRAGSTELLER","UNTERSCHRIEBEN_ANTRAGSTELLER","NICHT_ANGENOMMEN_ANTRAGSTELLER","WIDERRUFEN_ANTRAGSTELLER","ZURUECKGESTELLT_PRODUKT_ANBIETER","UNTERSCHRIEBEN_PRODUKT_ANBIETER","UNTERSCHRIEBEN_BEIDE","ABGELEHNT_PRODUKT_ANBIETER"]},"antragstellerStatus":{"type":"string","enum":["BEANTRAGT","UNTERSCHRIEBEN","NICHT_ANGENOMMEN","WIDERRUFEN"]},"produktAnbieterStatus":{"type":"string","enum":["NICHT_BEARBEITET","UNTERSCHRIEBEN","ABGELEHNT","ZURUECKGESTELLT"]},"vertragsBearbeitungsFortschritt":{"type":"string","enum":["NICHT_VON_PRODUKTANBIETER_BESTAETIGT","VON_PRODUKTANBIETER_BESTAETIGT","FREIGEGEBEN_FUER_SAMMELFORDERUNG","PROVISION_IN_BEARBEITUNG","PROVISON_AN_KUNDENBETREUER_VOLLSTAENDIG_AUSGEZAHLT"]}}},"VertragsPartner":{"type":"object","properties":{"id":{"type":"string"}}},"BausparAngebot":{"type":"object","properties":{"abschlussGebuehr":{"type":"number"},"angebotsHinweisFuerAntragsteller":{"type":"string","description":"nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"},"bausparSumme":{"type":"number"},"einmalzahlung":{"type":"number"},"id":{"type":"string","readOnly":true},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"sparPhase":{"$ref":"#/definitions/SparPhase"},"tarif":{"type":"string"},"tilgungsPhase":{"$ref":"#/definitions/TilgungsPhase"},"typ":{"type":"string"},"vertragsBeginn":{"type":"string","format":"date"},"vertragsNummer":{"type":"string"},"verwaltungsgebuehrenJaehrlich":{"type":"number"},"zuteilungsDatum":{"type":"string","format":"date"}}},"Kauf":{"type":"object","properties":{"bereitsBeglicheneKosten":{"type":"number"},"kaufpreis":{"type":"number"},"mobiliarKosten":{"type":"number"},"modernisierungsKostenInklEigenleistungen":{"type":"number"},"nebenkosten":{"$ref":"#/definitions/Nebenkosten"},"renovierungsKosten":{"type":"number"},"sonstigeKosten":{"type":"number"}}},"Flurstueck":{"type":"object","properties":{"anteil":{"$ref":"#/definitions/MiteigentumsAnteil"},"flur":{"type":"string"},"flurstuecksNummer":{"type":"string"},"groesse":{"$ref":"#/definitions/Flaeche"}}},"ForwardDarlehen":{"type":"object","properties":{"auszahlungsDatum":{"type":"string","format":"date"},"forwardPeriodeInMonaten":{"type":"integer","format":"int32"}}},"TilgungsWunsch":{"type":"object","properties":{"anfaenglicheTilgung":{"type":"number","description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist"},"ausgesetztBerechnet":{"type":"boolean","example":false,"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist"},"ausgesetztEigenesAngebot":{"type":"boolean","example":false,"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist"},"rate":{"type":"number","description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist"},"volltilgerWennAnnuitaetenOderForward":{"type":"boolean","example":false,"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist"}}},"KaufNeubauVomBautraeger":{"type":"object","properties":{"anzahlTeilzahlungen":{"type":"integer","format":"int32"},"bereitsBeglicheneKosten":{"type":"number"},"kaufpreisInklEigenleistungen":{"type":"number"},"mobiliarKosten":{"type":"number"},"nebenkosten":{"$ref":"#/definitions/Nebenkosten"},"sonstigeKosten":{"type":"number"}}},"MietAusgaben":{"type":"object","properties":{"ausgabenMonatlich":{"type":"number"},"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"entfallenMitFinanzierung":{"type":"boolean"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"EinkuenfteAusNebentaetigkeit":{"type":"object","properties":{"beginnDerNebentaetigkeit":{"type":"string","format":"date"},"berechnungsHilfeEinnahmen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"einnahmenMonatlich":{"type":"number"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"Meldungen":{"type":"object","properties":{"meldungen":{"type":"array","items":{"$ref":"#/definitions/Meldung"}}}},"Vorhaben":{"type":"object","properties":{"eigenleistungWennNeubauOderModernisierungsmassnahmen":{"type":"number"},"externeBausparAngebote":{"type":"array","items":{"$ref":"#/definitions/BausparAngebot"}},"externeImmobilienDarlehen":{"type":"array","readOnly":true,"items":{"$ref":"#/definitions/ExternesImmobilienDarlehen"}},"finanzierungswunsch":{"$ref":"#/definitions/Finanzierungswunsch"},"keineNachrangigenExternenDarlehenVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'nachrangigeExterneDarlehen' leer ist"},"nachrangigeExterneDarlehen":{"type":"array","items":{"$ref":"#/definitions/NachrangigesExternesDarlehen"}},"verwendungszweck":{"type":"string","enum":["ANSCHLUSSFINANZIERUNG","KAUF","KAUF_NEUBAU_VOM_BAUTRAEGER","MODERNISIERUNG_UMBAU_ANBAU","NEUBAU"]},"verwendungszweckAbhaengigerFinanzbedarf":{"$ref":"#/definitions/Finanzbedarf"}}},"EinnahmenMonatlich":{"type":"object","properties":{"berechnungsHilfeEinnahmen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"einnahmenMonatlich":{"type":"number"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"ZugrundeliegendeDatenZumAntrag":{"type":"object","properties":{"finanzierungsObjekt":{"$ref":"#/definitions/FinanzierungsObjekt"},"haushalte":{"type":"array","items":{"$ref":"#/definitions/Haushalt"}},"vorhaben":{"$ref":"#/definitions/Vorhaben"},"_links":{"$ref":"#/definitions/Links"}}},"Beratung":{"type":"object","properties":{"art":{"type":"string","enum":["PRAESENZ_GESCHAEFT","FERN_ABSATZ_GESCHAEFT","AUSSER_GESCHAEFTSRAUM_VERTRAG"]},"hinweisFuerProduktAnbieter":{"type":"string"},"istKundenBetreuerVerkaeuferOderMaklerDerImmobilie":{"type":"string","description":"Mit diesem Wert wird ausgedrückt, ob der Kundenbetreuer auch der Immobilienmakler ist.","enum":["NICHT_DER_KUNDEN_BETREUER","KUNDEN_BETREUER"]}}},"KfwDarlehen":{"type":"object","properties":{"kfwEnergieEffizienzStandard":{"type":"string","description":"Nur bei KfW-Programm 153, bei neuen Energieeffizienzstandards können auch weitere Werte zulässig werden.","enum":["STANDARD_40_PLUS","STANDARD_40","STANDARD_55","STANDARD_70"]},"kfwProgramm":{"type":"string","description":"Bei neu aufgelegten KfW-Programmen können auch weitere Werte zulässig werden.","enum":["PROGRAMM_124","PROGRAMM_141","PROGRAMM_151","PROGRAMM_152","PROGRAMM_153","PROGRAMM_155","PROGRAMM_159","PROGRAMM_167"]},"laufZeitInJahren":{"type":"integer","format":"int32"},"rateMonatlichInDerTilgungsfreienAnlaufzeit":{"type":"number"},"tilgungsFreieAnlaufJahre":{"type":"integer","format":"int32"}}},"GrundbuchAngabe":{"type":"object","properties":{"blattNummer":{"type":"string"},"flurStueck":{"type":"array","items":{"$ref":"#/definitions/Flurstueck"}},"keineGrundbuchAngabenVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die anderen Werte nicht gefüllt sind"},"ortDesGrundbuchs":{"type":"string"},"rechteInAbteilung2":{"$ref":"#/definitions/RechteAbteilung2"},"weitereAnmerkungen":{"type":"string"}}},"Grundstueck":{"type":"object","properties":{"grundstuecksArt":{"type":"string","enum":["UNBEBAUTES_WOHNGRUNDSTUECK","UNBEBAUTES_MISCHGRUNDSTUECK","UNBEBAUTES_GEWERBEGRUNDSTUECK","LANDWIRTSCHAFTLICHES_GRUNDSTUECK","SONSTIGES_GRUNDSTUECK"]}}},"ProduktAnbieter":{"type":"object","properties":{"id":{"type":"string"},"kurzname":{"type":"string"},"firmierung":{"type":"string"}}},"Modernisierung":{"type":"object","properties":{"anzahlTeilzahlungen":{"type":"integer","format":"int32"},"mobiliarKosten":{"type":"number"},"modernisierungsKostenInklEigenleistungen":{"type":"number"},"renovierungsKosten":{"type":"number"},"sonstigeKosten":{"type":"number"},"zusaetzlichesKapital":{"type":"number"}}},"SparPhase":{"type":"object","properties":{"guthabenBeiZuteilung":{"type":"number"},"guthabenZins":{"type":"number"},"sparBeitragMonatlich":{"type":"number"},"sparPhaseInJahren":{"type":"integer","format":"int32"}}},"Link":{"type":"object","properties":{"href":{"type":"string"},"templated":{"type":"boolean"},"type":{"type":"string"}}},"BestehendesDarlehenVerknuepfung":{"type":"object","properties":{"id":{"type":"string"}}},"Tilgung":{"type":"object","properties":{"anfaenglicheTilgung":{"type":"number","description":"wenn null oder 0: tilgungsausgesetzt"},"bausparvertragAlsTilgungsErsatz":{"description":"nur wenn lebensOderRentenversicherungAlsTilgungsErsatz==null, nicht bei PRIVAT_DARLEHEN","$ref":"#/definitions/BausparvertragAlsTilgungsErsatz"},"lebensOderRentenversicherungAlsTilgungsErsatz":{"description":"nur wenn bausparvertragAlsTilgungsErsatz==null, nicht bei PRIVAT_DARLEHEN","$ref":"#/definitions/LebensOderRentenversicherungAlsTilgungsErsatz"},"sonderTilgungJaehrlich":{"type":"number","description":"nur wenn darlehensArt IN [ANNUITAETEN_DARLEHEN,FORWARD_DARLEHEN] und KEIN tilgungsErsatz"},"tilgungsBeginnAm":{"type":"string","format":"date","description":"nullable"}}},"Finanzierungswunsch":{"type":"object","properties":{"bausparWuensche":{"type":"array","items":{"$ref":"#/definitions/BausparWunsch"}},"darlehensWuensche":{"type":"array","items":{"$ref":"#/definitions/DarlehensWunsch"}}}},"ZinsBindung":{"type":"object","properties":{"zinsBindungInJahren":{"type":"integer","format":"int32"},"zinsBindungsEndeAm":{"type":"string","format":"date"}}},"LebensOderRentenversicherungAlsTilgungsErsatz":{"type":"object","properties":{"id":{"type":"string","readOnly":true},"praemieMonatlich":{"type":"number"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"rueckkaufsWertAktuell":{"type":"number"},"tarif":{"type":"string"},"typ":{"type":"string","enum":["KAPITALBILDENDE_LEBENSVERSICHERUNG","FONDSGEBUNDENE_LEBENSVERSICHERUNG","KAPITALBILDENDE_RENTENVERSICHERUNG","FONDSGEBUNDENE_RENTENVERSICHERUNG","RISIKO_LEBENSVERSICHERUNG"]},"versicherungsSumme":{"type":"number"},"vertragsBeginn":{"type":"string","format":"date"},"vertragsEnde":{"type":"string","format":"date"},"vertragsNummer":{"type":"string"},"verwaltungsgebuehrenJaehrlich":{"type":"number"}}},"BausparvertragAlsTilgungsErsatz":{"type":"object","properties":{"abschlussGebuehr":{"type":"number"},"abschlussGebuehrenVerrechnung":{"type":"string","enum":["SOFORTZAHLUNG","VERRECHNUNG"]},"angebotsHinweisFuerAntragsteller":{"type":"string","description":"nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"},"antragsEntscheider":{"$ref":"#/definitions/ProduktAnbieter"},"bausparSumme":{"type":"number"},"einmalzahlung":{"type":"number"},"gesamtLaufzeitInJahren":{"type":"integer","format":"int32"},"id":{"type":"string","readOnly":true},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"provision":{"$ref":"#/definitions/Provision"},"sparPhase":{"$ref":"#/definitions/SparPhase"},"tarif":{"type":"string"},"tarifId":{"type":"string","enum":["BKM_MAX_PREMIUM_OPTIMAL","BKM_MAX_PREMIUM_NIEDRIGE_SPARRATE","BKM_MAX_PREMIUM_NIEDRIGE_TILGUNG","BKM_MAX_PREMIUM_BESTER_ZINS","FUCHS_IMMO_1","FUCHS_IMMO_2","LBS_OST_CLASSIC15_F5","SIGNAL_IDUNA_FREIRAUM_F_30","SIGNAL_IDUNA_FREIRAUM_F_35","SIGNAL_IDUNA_FREIRAUM_F_40","SIGNAL_IDUNA_FREIRAUM_F_45","SIGNAL_IDUNA_FREIRAUM_F_50","SIGNAL_IDUNA_FREIRAUM_F_60","SIGNAL_IDUNA_FREIRAUM_F_30_MZ","SIGNAL_IDUNA_FREIRAUM_F_35_MZ","SIGNAL_IDUNA_FREIRAUM_F_40_MZ","SIGNAL_IDUNA_FREIRAUM_F_45_MZ","SIGNAL_IDUNA_FREIRAUM_F_50_MZ","SIGNAL_IDUNA_FREIRAUM_F_60_MZ","BHW_TARIF_FI1","BHW_TARIF_FI2","BHW_TARIF_FI3","BHW_TARIF_FI4","BHW_TARIF_FX1","BHW_TARIF_FX2","BHW_TARIF_REN","DT_RING_TARIF_FT_0","DT_RING_TARIF_FT_1","DT_RING_TARIF_FT_2","DT_RING_TARIF_XT_0","DT_RING_TARIF_XT_1","ALTE_LEIPZIGER_1503","ALTE_LEIPZIGER_1603","ALTE_LEIPZIGER_1703","ALTE_LEIPZIGER_1803","ALTE_LEIPZIGER_1903","ALTE_LEIPZIGER_2003","ALTE_LEIPZIGER_1503_MZ","ALTE_LEIPZIGER_1603_MZ","ALTE_LEIPZIGER_1703_MZ","ALTE_LEIPZIGER_1803_MZ","ALTE_LEIPZIGER_1903_MZ","ALTE_LEIPZIGER_2003_MZ"]},"teilBausparSumme":{"type":"number"},"tilgungsPhase":{"$ref":"#/definitions/TilgungsPhase"},"typ":{"type":"string"},"vertragsBeginn":{"type":"string","format":"date"},"vertragsNummer":{"type":"string"},"vertragsPartner":{"type":"array","items":{"$ref":"#/definitions/VertragsPartner"}},"verwaltungsgebuehrenJaehrlich":{"type":"number"},"verwendungszweck":{"type":"string","enum":["ALS_TILGUNGSERSATZ","ZUR_ZINSABSICHERUNG"]},"zuteilungsDatum":{"type":"string","format":"date"}}},"RechteAbteilung2":{"type":"object","properties":{"beschreibung":{"type":"string"},"betrag":{"type":"number"}}},"AnnuitaetenOderForwardDarlehensWunsch":{"type":"object","properties":{"abzuloesendeAltdarlehen":{"type":"array","description":"Hierbei handelt es sich um bestehende Darlehen der Immobilie","items":{"$ref":"#/definitions/BestehendesDarlehenVerknuepfung"}},"auszahlungsDatumBeiForward":{"type":"string","format":"date"},"bereitstellungsZinsFreieZeitInMonaten":{"type":"integer","format":"int32"},"bestehendesDarlehenDerImmobilieIdsBeiAbloesung":{"type":"array","description":"für Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG","items":{"type":"string"}},"darlehensBetrag":{"type":"number"},"provision":{"type":"number"},"sondertilgungOptionalJaehrlich":{"type":"number"},"tilgungsWunsch":{"$ref":"#/definitions/TilgungsWunsch"},"typ":{"type":"string","enum":["ANNUITAETENDARLEHEN","FORWARDDARLEHEN"]},"zinsbindungInJahren":{"type":"integer","format":"int32"}}},"EffektivZinsKosten":{"type":"object","properties":{"beratungsHonorar":{"type":"number"},"grundbuchKosten":{"type":"number"},"sonstigeKosten":{"type":"number"},"sonstigeKostenErlaeuterung":{"type":"string"},"tilgungsErsatzProduktKosten":{"type":"number"},"wohnGebaeudeVersicherungsKosten":{"type":"number"},"zinsabsicherungsKosten":{"type":"number"},"zusatzSicherheitsKosten":{"type":"number"}}},"ZwischenFinanzierung":{"type":"object","properties":{"detailsZurVerwendung":{"type":"string"},"maximaleLaufzeitInMonaten":{"type":"integer","format":"int32"},"verwendungsZweck":{"type":"string","enum":["VORFINANZIERUNG_OEFFENTLICHER_MITTEL","VERKAUF_EINES_ANDEREN_OBJEKTS","SONSTIGE_VERWENDUNG"]}}},"VariablesDarlehensWunsch":{"type":"object","properties":{"abzuloesendeAltdarlehen":{"type":"array","description":"Hierbei handelt es sich um bestehende Darlehen der Immobilie","items":{"$ref":"#/definitions/BestehendesDarlehenVerknuepfung"}},"bestehendesDarlehenDerImmobilieIdsBeiAbloesung":{"type":"array","description":"für Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG","items":{"type":"string"}},"darlehensBetrag":{"type":"number"},"tilgungsWunsch":{"$ref":"#/definitions/TilgungsWunsch"}}},"BausparWunsch":{"type":"object","properties":{"abschlussGebuehrenVerrechnung":{"type":"string","enum":["SOFORTZAHLUNG","VERRECHNUNG"]},"bausparSummeAbsolut":{"type":"number","description":"Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."},"bausparSummeRelativ":{"type":"number","description":"Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."},"bausparTarif":{"type":"array","items":{"type":"string","enum":["BKM_MAX_PREMIUM_OPTIMAL","BKM_MAX_PREMIUM_NIEDRIGE_SPARRATE","BKM_MAX_PREMIUM_NIEDRIGE_TILGUNG","BKM_MAX_PREMIUM_BESTER_ZINS","FUCHS_IMMO_1","FUCHS_IMMO_2","LBS_OST_CLASSIC15_F5","SIGNAL_IDUNA_FREIRAUM_F_30","SIGNAL_IDUNA_FREIRAUM_F_35","SIGNAL_IDUNA_FREIRAUM_F_40","SIGNAL_IDUNA_FREIRAUM_F_45","SIGNAL_IDUNA_FREIRAUM_F_50","SIGNAL_IDUNA_FREIRAUM_F_60","SIGNAL_IDUNA_FREIRAUM_F_30_MZ","SIGNAL_IDUNA_FREIRAUM_F_35_MZ","SIGNAL_IDUNA_FREIRAUM_F_40_MZ","SIGNAL_IDUNA_FREIRAUM_F_45_MZ","SIGNAL_IDUNA_FREIRAUM_F_50_MZ","SIGNAL_IDUNA_FREIRAUM_F_60_MZ","BHW_TARIF_FI1","BHW_TARIF_FI2","BHW_TARIF_FI3","BHW_TARIF_FI4","BHW_TARIF_FX1","BHW_TARIF_FX2","BHW_TARIF_REN","DT_RING_TARIF_FT_0","DT_RING_TARIF_FT_1","DT_RING_TARIF_FT_2","DT_RING_TARIF_XT_0","DT_RING_TARIF_XT_1","ALTE_LEIPZIGER_1503","ALTE_LEIPZIGER_1603","ALTE_LEIPZIGER_1703","ALTE_LEIPZIGER_1803","ALTE_LEIPZIGER_1903","ALTE_LEIPZIGER_2003","ALTE_LEIPZIGER_1503_MZ","ALTE_LEIPZIGER_1603_MZ","ALTE_LEIPZIGER_1703_MZ","ALTE_LEIPZIGER_1803_MZ","ALTE_LEIPZIGER_1903_MZ","ALTE_LEIPZIGER_2003_MZ"]}},"sonderZahlungEinmalig":{"type":"number"},"sparBeitragMonatlichAbsolut":{"type":"number","description":"Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."},"sparBeitragMonatlichRelativ":{"type":"number","description":"Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."},"tilgungsBeitragMonatlich":{"type":"number","description":"Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."},"vertragsPartnerId":{"type":"string"},"zuteilungsDatum":{"type":"string","format":"date","description":"Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum können maximal zwei befüllt werden."}}},"ModernisierungsAngaben":{"type":"object","properties":{"modernisierungsGrad":{"type":"string","enum":["GERING","HOCH","MITTEL"]}}},"BankUndSparguthaben":{"type":"object","properties":{"aktuellerWert":{"type":"number"},"berechnungsHilfeEinnahmen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"maximalAufzuloesenderWert":{"type":"number"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]},"zinsertragJaehrlich":{"type":"number"}}},"Haus":{"type":"object","properties":{"anzahlDerWohneinheitenBeiMehrfamilienHaus":{"type":"integer","format":"int32"},"anzahlVollgeschosse":{"type":"integer","format":"int32"},"baujahrWennNichtNeubau":{"type":"string","example":"2016","description":"Baujahr des Gebäudes. Vierstellige Jahresangabe"},"bauweise":{"type":"string","enum":["FACHWERK_MIT_STROH_LEHM","FACHWERK_MIT_ZIEGELN","GLAS_STAHL","HOLZ","MASSIV"]},"dachgeschossAusbau":{"type":"string","enum":["FLACHDACH","NICHT_AUSGEBAUT","TEILWEISE_AUSGEBAUT","VOLL_AUSGEBAUT"]},"einliegerwohnungVorhandenBeiDoppelOderEinfamilienOderReihenHaus":{"type":"boolean"},"fertighausBeiDoppelOderEinfamilienOderZweifamilienHaus":{"type":"boolean"},"gewerbeVermietungsInformationWennGewerbeflaecheVorhanden":{"$ref":"#/definitions/VermietungsInformationen"},"gewerbeflaecheGesamt":{"$ref":"#/definitions/Flaeche"},"gewerbeflaecheVorhanden":{"type":"boolean"},"hausAnordnungMehrfamilienOderZweifamilienHaus":{"type":"string","enum":["FREISTEHEND","KOPFHAUS","MITTELHAUS"]},"hausAnordnungReihenhaus":{"type":"string","enum":["KOPFHAUS","MITTELHAUS"]},"hausTyp":{"type":"string","enum":["DOPPELHAUSHAELFTE","EINFAMILIENHAUS","MEHRFAMILIENHAUS","REIHENHAUS","ZWEIFAMILIENHAUS"]},"modernisierungsAngabenWennNichtNeubau":{"$ref":"#/definitions/ModernisierungsAngaben"},"unterkellerung":{"type":"string","enum":["NICHT_UNTERKELLERT","TEILWEISE_UNTERKELLERT","UNTERKELLERT"]},"wohnVermietungsInformation":{"$ref":"#/definitions/VermietungsInformationen"},"wohnflaecheGesamt":{"$ref":"#/definitions/Flaeche"}}},"Antragsteller":{"type":"object","properties":{"anrede":{"type":"string","enum":["FRAU","HERR"]},"anschrift":{"$ref":"#/definitions/Postadresse"},"arbeitserlaubnis":{"type":"boolean","example":false,"description":"wenn keine deutsche Staatsangehörigkeit"},"arbeitserlaubnisBefristetBis":{"type":"string","format":"date","description":"wenn Arbeitserlaubnis befristet"},"aufenthaltsTitel":{"type":"string","description":"wenn keine deutsche Staatsangehörigkeit","enum":["VISUM","AUFENTHALTS_ERLAUBNIS","NIEDERLASSUNGS_ERLAUBNIS","DAUERAUFENTHALT_EU"]},"aufenthaltsTitelBefristetBis":{"type":"string","format":"date","description":"wenn Aufenthaltstitel befristet"},"beschaeftigung":{"$ref":"#/definitions/Beschaeftigungsart"},"email":{"type":"string"},"externeAntragstellerId":{"type":"string"},"familienstand":{"type":"string","enum":["GESCHIEDEN","GETRENNT_LEBEND","LEBENSPARTNERSCHAFT","LEDIG","VERHEIRATET","VERWITWET"]},"geburtsdatum":{"type":"string","format":"date"},"guetertrennungVereinbartWennVerheiratet":{"type":"boolean"},"id":{"type":"string","readOnly":true},"nachname":{"type":"string"},"staatsangehoerigkeit":{"type":"string","description":"Der Countrycode wird mit zwei Buchstaben dargestellt. Siehe: http://userpage.chemie.fu-berlin.de/diverse/doc/ISO_3166.html"},"telefonnummer":{"type":"string"},"telefonnummerVorwahl":{"type":"string"},"titelDoktor":{"type":"boolean"},"titelProfessor":{"type":"boolean"},"vorAnschrift":{"$ref":"#/definitions/Postadresse"},"vorname":{"type":"string"},"weitereKontaktMoeglichkeiten":{"type":"string"},"wohnhaftSeit":{"type":"string","format":"date"}}},"Partner":{"type":"object","properties":{"email":{"type":"string"},"nachname":{"type":"string"},"partnerId":{"type":"string"},"telefonnummer":{"type":"string"},"vorname":{"type":"string"},"_links":{"$ref":"#/definitions/Links"}},"description":"Minimale Informationen zum Partner der EP2 Plattform, weitere Informationen können über die HAL-Relation abgerufen werden."},"VermietungsInformationen":{"type":"object","properties":{"mieteinnahmenNettoKaltMonatlich":{"type":"number"},"nutzungsArt":{"type":"string","enum":["EIGENGENUTZT","TEIL_VERMIETET","VERMIETET"]},"vermieteteWohnflaecheBeiTeilvermietung":{"$ref":"#/definitions/Flaeche"}}},"BestehenderBausparvertrag":{"type":"object","properties":{"abschlussGebuehr":{"type":"number"},"aktuellerWert":{"type":"number"},"bausparSumme":{"type":"number"},"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"einmalzahlung":{"type":"number"},"id":{"type":"string","readOnly":true},"maximalAufzuloesenderBetrag":{"type":"number"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"sparBeitragMonatlich":{"type":"number"},"tarif":{"type":"string"},"typ":{"type":"string"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"vermoegensEinsatz":{"type":"string","enum":["ABTRETEN","AUFLOESEN"]},"vertragsBeginn":{"type":"string","format":"date"},"vertragsNummer":{"type":"string"},"verwaltungsgebuehrenJaehrlich":{"type":"number"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]},"zuteilungsDatum":{"type":"string","format":"date"}}},"Antrag":{"type":"object","properties":{"angenommenAm":{"type":"string","format":"date","example":"2016-10-24","description":"Zeitpunkt, zu dem der Antrag im System erstellt wurde."},"beratung":{"$ref":"#/definitions/Beratung"},"datenKontext":{"type":"string","enum":["TEST_MODUS","ECHT_GESCHAEFT"]},"id":{"type":"string","description":"Antragsnummer des BaufiSmart Vorgangs"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"prolongation":{"type":"boolean"},"status":{"$ref":"#/definitions/AntragsStatus"},"voraussichtlicheBearbeitungAm":{"type":"string","format":"date","example":"2016-10-24","description":"Das Datum, zu dem der Antrags vorrausichtlich bearbeitet wird."},"_embedded":{"$ref":"#/definitions/AntragResourcen"},"_links":{"$ref":"#/definitions/Links"}},"description":"Diese Resource repräsentiert einen Antrag in Baufi Smart."},"AntragResourcen":{"type":"object","properties":{"angebot":{"$ref":"#/definitions/AngebotZumAntrag"},"ansprechpartner":{"$ref":"#/definitions/Partner"},"beratungsDokumentation":{"$ref":"#/definitions/Dokument"},"kreditEntscheidungsInformation":{"$ref":"#/definitions/Dokument"},"kreditSachbearbeiter":{"$ref":"#/definitions/Partner"},"selbstauskunft":{"$ref":"#/definitions/Dokument"},"vermittler":{"$ref":"#/definitions/Partner"},"zugrundeliegendeDaten":{"$ref":"#/definitions/ZugrundeliegendeDatenZumAntrag"}}},"LebensOderRentenversicherungVermoegen":{"type":"object","properties":{"berechnungsHilfeAusgaben":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"id":{"type":"string","readOnly":true},"maximalAufzuloesenderBetrag":{"type":"number"},"praemieMonatlich":{"type":"number"},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"rueckkaufsWertAktuell":{"type":"number"},"tarif":{"type":"string"},"typ":{"type":"string","enum":["KAPITALBILDENDE_LEBENSVERSICHERUNG","FONDSGEBUNDENE_LEBENSVERSICHERUNG","KAPITALBILDENDE_RENTENVERSICHERUNG","FONDSGEBUNDENE_RENTENVERSICHERUNG","RISIKO_LEBENSVERSICHERUNG"]},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"vermoegensEinsatz":{"type":"string","enum":["KEIN_EINSATZ","ABTRETEN","AUFLOESEN"]},"versicherungsSumme":{"type":"number"},"vertragsBeginn":{"type":"string","format":"date"},"vertragsEnde":{"type":"string","format":"date"},"vertragsNummer":{"type":"string"},"verwaltungsgebuehrenJaehrlich":{"type":"number"},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"Provision":{"type":"object","properties":{"europaceMargeAbsolut":{"type":"number"},"produktAnbieterZahltEuropaceMarge":{"type":"boolean"},"provisionKundenbetreuerAbsolut":{"type":"number"},"vertriebsProvisionGesamtAbsolut":{"type":"number"}}},"Kapitalbeschaffung":{"type":"object","properties":{"betrag":{"type":"number"},"verwendungKommentar":{"type":"string"}}},"FinanzierungsObjekt":{"type":"object","properties":{"adresse":{"$ref":"#/definitions/Postadresse"},"autostellplaetze":{"type":"array","items":{"$ref":"#/definitions/Autostellplatz"}},"bestehendeDarlehen":{"type":"array","items":{"$ref":"#/definitions/BestehendesDarlehenDesFinanzierungsObjekts"}},"eigentumswohnung":{"description":"muss leer sein, wenn grundstück oder haus gefüllt ist","$ref":"#/definitions/Eigentumswohnung"},"erbbaurecht":{"$ref":"#/definitions/Erbbaurecht"},"grundbuchAngabe":{"$ref":"#/definitions/GrundbuchAngabe"},"grundstueck":{"description":"muss leer sein, wenn eigentumswohnung oder haus gefüllt ist","$ref":"#/definitions/Grundstueck"},"grundstuecksGroesse":{"$ref":"#/definitions/Flaeche"},"haus":{"description":"muss leer sein, wenn eigentumswohnung oder grundstück gefüllt ist","$ref":"#/definitions/Haus"},"id":{"type":"string","readOnly":true},"keineAutostellplaetzeVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'autostellplaetze' leer ist"},"keineBestehendenDarlehenVorhanden":{"type":"boolean","example":false,"description":"darf nur TRUE sein, wenn die Liste 'bestehendeDarlehen' leer ist"},"verkehrswert":{"type":"number","description":"Nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung und Kapitalbeschaffung"}}},"BerechnungsHilfeZahlungen":{"type":"object","properties":{"jaehrlichNachFinanzierung":{"type":"number","readOnly":true},"jaehrlichVorFinanzierung":{"type":"number","readOnly":true},"monatlichNachFinanzierung":{"type":"number","readOnly":true},"monatlichVorFinanzierung":{"type":"number","readOnly":true}}},"ExternesImmobilienDarlehen":{"type":"object","properties":{"auszahlungsBetrag":{"type":"number"},"darlehenBetrag":{"type":"number"},"darlehensGeber":{"$ref":"#/definitions/ProduktAnbieter"},"id":{"type":"string","readOnly":true},"rateMonatlich":{"type":"number"},"zinsBindungEnde":{"type":"string","format":"date"}}},"Autostellplatz":{"type":"object","properties":{"mieteinnahmenMonatlich":{"type":"number"},"typ":{"type":"string","enum":["STELLPLATZ","CARPORT","GARAGE","DOPPEL_GARAGE","KELLER_GARAGE","TIEFGARAGEN_STELLPLATZ"]}}},"Erbbaurecht":{"type":"object","properties":{"erbbaurechtVorhanden":{"type":"boolean"},"erbbauzinsJaehrlich":{"type":"number"},"grundstuecksEigentuemer":{"type":"string","enum":["ANDERE","OEFFENTLICH_KIRCHLICH"]},"laufzeitBisJahr":{"type":"string","example":"2016","description":"Vierstellige Jahresangabe"}}},"DarlehensWunsch":{"type":"object","properties":{"annuitaetenOderForwardDarlehen":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/AnnuitaetenOderForwardDarlehensWunsch"},"kfwDarlehen":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/KfwDarlehensWunsch"},"privatDarlehen":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/PrivatDarlehensWunsch"},"variablesDarlehen":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/VariablesDarlehensWunsch"},"zwischenFinanzierung":{"description":"muss leer sein, wenn eines der anderen Attribute gefüllt ist","$ref":"#/definitions/ZwischenFinanzierungsWunsch"}}},"Dokument":{"type":"object","properties":{"filename":{"type":"string"},"_links":{"$ref":"#/definitions/Links"}}},"FreiberuflerOderSelbststaendiger":{"type":"object","properties":{"beruf":{"type":"string"},"einkommenNettoJaehrlich":{"type":"number"},"situationNachRenteneintritt":{"$ref":"#/definitions/SituationNachRenteneintritt"},"taetigSeit":{"type":"string","format":"date"},"taetigkeit":{"type":"string","enum":["ALTENPFLEGER","AMBULANTER_KRANKENPFLEGER","ANWALT","APOTHEKER","ARCHITEKT","ARZT","BESTATTER","DATENSCHUTZBEAUFTRAGTER","DEKORATEUR","DIAETASSISTENT","DOLMETSCHER","EDV_BERATER","ERGOTHERAPEUT","ERNAEHRUNGSBERATER","FOTOGRAF","GEOGRAF","GRAFIKDESIGNER","GRAFIKER","HEBAMME","HEILMASSEUR","HEILPRAKTIKER","HISTORIKER","INFORMATIKER","INGENIEUR","INSOLVENZVERWALTER","JOURNALIST","KLASSISCHER_KONZERTMUSIKER","KONSTRUKTEUR","KRANKENGYMNAST","KRANKENPFLEGER","KRANKENSCHWESTER","LOGOPAEDE","MEDIZINISCH_TECHN_ASSISTENT","NOTAR","OPERNSAENGER","PERSONALBERATER","PHYSIOTHERAPEUT","PSYCHOLOGE","RAUMAUSSTATTER","RUNDFUNKSPRECHER","SACHVERSTAENDIGER","STADTPLANER","STATIKER","STEUERBERATER","TIERARZT","UNTERNEHMENSBERATER","VERMITTLER","WIRTSCH_BUCHPRUEFER_REVISOR","ZAHNARZT","ZAHNTECHNIKER","SONSTIGES"]},"typ":{"type":"string","enum":["ANGESTELLTER","ARBEITER","ARBEITSLOSER","BEAMTER","FREIBERUFLER","HAUSFRAU","RENTNER","SELBSTAENDIGER"]}}},"EuropaceBausparAngebot":{"type":"object","properties":{"abschlussGebuehr":{"type":"number"},"abschlussGebuehrenVerrechnung":{"type":"string","enum":["SOFORTZAHLUNG","VERRECHNUNG"]},"angebotsHinweisFuerAntragsteller":{"type":"string","description":"nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"},"antragsEntscheider":{"$ref":"#/definitions/ProduktAnbieter"},"bausparSumme":{"type":"number"},"einmalzahlung":{"type":"number"},"gesamtLaufzeitInJahren":{"type":"integer","format":"int32"},"id":{"type":"string","readOnly":true},"produktAnbieter":{"$ref":"#/definitions/ProduktAnbieter"},"provision":{"$ref":"#/definitions/Provision"},"sparPhase":{"$ref":"#/definitions/SparPhase"},"tarif":{"type":"string"},"tarifId":{"type":"string","enum":["BKM_MAX_PREMIUM_OPTIMAL","BKM_MAX_PREMIUM_NIEDRIGE_SPARRATE","BKM_MAX_PREMIUM_NIEDRIGE_TILGUNG","BKM_MAX_PREMIUM_BESTER_ZINS","FUCHS_IMMO_1","FUCHS_IMMO_2","LBS_OST_CLASSIC15_F5","SIGNAL_IDUNA_FREIRAUM_F_30","SIGNAL_IDUNA_FREIRAUM_F_35","SIGNAL_IDUNA_FREIRAUM_F_40","SIGNAL_IDUNA_FREIRAUM_F_45","SIGNAL_IDUNA_FREIRAUM_F_50","SIGNAL_IDUNA_FREIRAUM_F_60","SIGNAL_IDUNA_FREIRAUM_F_30_MZ","SIGNAL_IDUNA_FREIRAUM_F_35_MZ","SIGNAL_IDUNA_FREIRAUM_F_40_MZ","SIGNAL_IDUNA_FREIRAUM_F_45_MZ","SIGNAL_IDUNA_FREIRAUM_F_50_MZ","SIGNAL_IDUNA_FREIRAUM_F_60_MZ","BHW_TARIF_FI1","BHW_TARIF_FI2","BHW_TARIF_FI3","BHW_TARIF_FI4","BHW_TARIF_FX1","BHW_TARIF_FX2","BHW_TARIF_REN","DT_RING_TARIF_FT_0","DT_RING_TARIF_FT_1","DT_RING_TARIF_FT_2","DT_RING_TARIF_XT_0","DT_RING_TARIF_XT_1","ALTE_LEIPZIGER_1503","ALTE_LEIPZIGER_1603","ALTE_LEIPZIGER_1703","ALTE_LEIPZIGER_1803","ALTE_LEIPZIGER_1903","ALTE_LEIPZIGER_2003","ALTE_LEIPZIGER_1503_MZ","ALTE_LEIPZIGER_1603_MZ","ALTE_LEIPZIGER_1703_MZ","ALTE_LEIPZIGER_1803_MZ","ALTE_LEIPZIGER_1903_MZ","ALTE_LEIPZIGER_2003_MZ"]},"teilBausparSumme":{"type":"number"},"tilgungsPhase":{"$ref":"#/definitions/TilgungsPhase"},"typ":{"type":"string"},"vertragsBeginn":{"type":"string","format":"date"},"vertragsNummer":{"type":"string"},"vertragsPartner":{"type":"array","items":{"$ref":"#/definitions/VertragsPartner"}},"verwaltungsgebuehrenJaehrlich":{"type":"number"},"verwendungszweck":{"type":"string","enum":["ALS_TILGUNGSERSATZ","ZUR_ZINSABSICHERUNG"]},"zuteilungsDatum":{"type":"string","format":"date"}}},"SituationNachRenteneintritt":{"type":"object","properties":{"gesetzlicheRenteMonatlich":{"type":"number"},"privateRenteMonatlich":{"type":"number"},"rentenBeginn":{"type":"string","format":"date"},"sonstigesEinkommenMonatlich":{"type":"number"}}},"Wertpapiere":{"type":"object","properties":{"aktuellerWert":{"type":"number"},"berechnungsHilfeEinnahmen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeZahlungen"},"berechnungsHilfeVermoegen":{"readOnly":true,"$ref":"#/definitions/BerechnungsHilfeBetrag"},"dividendenJaehrlich":{"type":"number"},"maximalAufzuloesenderWert":{"type":"number"},"vermoegenOderVerbindlichkeit":{"type":"string","readOnly":true,"enum":["VERMOEGEN","VERBINDLICHKEIT"]},"zahlungTyp":{"type":"string","readOnly":true,"enum":["EINNAHMEN","AUSGABEN"]}}},"BestehendesDarlehen":{"type":"object","properties":{"abzuloesendeRestschuld":{"type":"number"},"aktuelleRestschuldWennNichtAbzuloesen":{"type":"number","description":"nur wenn wirdAbgeloest==true"},"darlehenArt":{"type":"string","enum":["BAUSPARDARLEHEN","FOERDERDARLEHEN","IMMOBILIENDARLEHEN","SONSTIGES_DARLEHEN"]},"darlehensBetrag":{"type":"number","description":"für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"},"darlehensGeber":{"type":"string"},"darlehensKontonummer":{"type":"string","description":"für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"},"eingetrageneGrundschuld":{"type":"number"},"hauptKontonummerDslBank":{"type":"string","description":"für DSL Bank Prolongation, d.h. technisch: Produktanbieter ist 'DSL Bank' und Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"},"id":{"type":"string","readOnly":true},"rateMonatlich":{"type":"number"},"sollZins":{"type":"number"},"sondertilgungZumZinsbindungsende":{"type":"number","description":"für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"},"zinsBindungBis":{"type":"string","format":"date"}}},"BestehendesDarlehenDesFinanzierungsObjekts":{"type":"object","properties":{"abzuloesendeRestschuld":{"type":"number"},"aktuelleRestschuldWennNichtAbzuloesen":{"type":"number","description":"nur wenn wirdAbgeloest==true"},"darlehenArt":{"type":"string","enum":["BAUSPARDARLEHEN","FOERDERDARLEHEN","IMMOBILIENDARLEHEN","SONSTIGES_DARLEHEN"]},"darlehensBetrag":{"type":"number","description":"für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"},"darlehensGeber":{"type":"string"},"darlehensKontonummer":{"type":"string","description":"für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"},"eingetrageneGrundschuld":{"type":"number"},"hauptKontonummerDslBank":{"type":"string","description":"für DSL Bank Prolongation, d.h. technisch: Produktanbieter ist 'DSL Bank' und Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"},"id":{"type":"string","readOnly":true},"rateMonatlich":{"type":"number"},"sollZins":{"type":"number"},"sondertilgungZumZinsbindungsende":{"type":"number","description":"für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"},"verwendenAls":{"type":"string","description":"Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben, behandelt werden soll.","enum":["ABLOESEN","TRITT_IM_RANG_ZURUECK","TRITT_NICHT_IM_RANG_ZURUECK"]},"zinsBindungBis":{"type":"string","format":"date"}}},"ZwischenFinanzierungsWunsch":{"type":"object","properties":{"abzuloesendeAltdarlehen":{"type":"array","description":"Hierbei handelt es sich um bestehende Darlehen der Immobilie","items":{"$ref":"#/definitions/BestehendesDarlehenVerknuepfung"}},"bestehendesDarlehenDerImmobilieIdsBeiAbloesung":{"type":"array","description":"für Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG","items":{"type":"string"}},"darlehensBetrag":{"type":"number"},"detailsZurVerwendung":{"type":"string"},"maximaleLaufzeitInMonaten":{"type":"integer","format":"int32"},"verwendungsZweck":{"type":"string","enum":["VORFINANZIERUNG_OEFFENTLICHER_MITTEL","VERKAUF_EINES_ANDEREN_OBJEKT","SONSTIGE_VERWENDUNG"]}}},"MiteigentumsAnteil":{"type":"object","properties":{"anteil":{"type":"number","format":"double"},"gesamt":{"type":"integer","format":"int32"}}},"Links":{"type":"object","properties":{"self":{"$ref":"#/definitions/Link"}}},"NachrangigesExternesDarlehen":{"type":"object","properties":{"darlehenBetrag":{"type":"number"},"darlehensGeber":{"type":"string","description":"Der Name des externen Darlehensgebers (Firmierung). Es gibt keine entsprechende Beziehung zu einem Partner auf der Europace-Plattform."},"id":{"type":"string","readOnly":true},"kommentar":{"type":"string","description":"Weiterführende Informationen zum externen Darlehen."},"rateMonatlich":{"type":"number"},"typ":{"type":"string","enum":["ARBEITGEBERDARLEHEN","BAUSPARDARLEHEN","OEFFENTLICHES_DARLEHEN","RATENKREDIT"]},"zinsBindungBis":{"type":"string","format":"date"}}},"Rentner":{"type":"object","properties":{"staatlicheRenteNettoMonatlich":{"type":"number"}}},"PrivatDarlehensWunsch":{"type":"object","properties":{"abzuloesendeAltdarlehen":{"type":"array","description":"Hierbei handelt es sich um bestehende Darlehen der Immobilie","items":{"$ref":"#/definitions/BestehendesDarlehenVerknuepfung"}},"bestehendesDarlehenDerImmobilieIdsBeiAbloesung":{"type":"array","description":"für Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG","items":{"type":"string"}},"darlehensBetrag":{"type":"number"},"laufzeitInMonaten":{"type":"integer","format":"int32"}}}}}