---
swagger: "2.0"
info:
  description: "Mit dieser API können die Vorgänge aus der Europace Plattform ausgelesen\
    \ werden."
  version: "0.1"
  title: "Vorgänge API"
  contact:
    name: "Europace AG"
    url: "www.europace2.de"
    email: "helpdesk@europace2.de"
host: "baufismart.api.europace.de"
basePath: "/v1"
tags:
- name: "Vorgänge"
  description: "Dieser Endpunkt repräsentiert die Vertriebssicht."
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json;charset=UTF-8"
paths:
  /vorgaenge:
    get:
      tags:
      - "Vorgänge"
      summary: "alle sichtbaren Vorgänge"
      operationId: "getVorgaenge"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "datenKontext"
        in: "query"
        description: "Datenkontext"
        required: false
        type: "string"
        default: "ECHT_GESCHAEFT"
        enum:
        - "ECHT_GESCHAEFT"
        - "TEST_MODUS"
      - name: "aenderungSeit"
        in: "query"
        description: "aenderungSeit"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "page"
        required: false
        type: "integer"
        default: 0
        format: "int32"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        default: 10
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Vorgaenge"
        400:
          description: "Client Error"
          schema:
            $ref: "#/definitions/Error"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /vorgaenge/{vorgangsNummer}:
    get:
      tags:
      - "Vorgänge"
      summary: "einen Vorgang abrufen"
      description: "Als Parameter wird die Vorgangsnummer verwendet, die aus BaufiSmart\
        \ erzeugt wurde."
      operationId: "getVorgang"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "Nummer des Antrags"
        required: true
        type: "string"
      - name: "X-TraceId"
        in: "header"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Vorgang"
        400:
          description: "Client Error"
          schema:
            $ref: "#/definitions/Error"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
securityDefinitions:
  oauth2:
    type: "oauth2"
    tokenUrl: "https://api.europace.de/login"
    flow: "password"
    scopes:
      API: "Authorisation Scope für die gesamte API."
definitions:
  Bankverbindung:
    type: "object"
    properties:
      bic:
        type: "string"
      iban:
        type: "string"
      id:
        type: "string"
      kontoinhaberIds:
        type: "array"
        items:
          type: "string"
      kontoinhaberName:
        type: "string"
      kreditinstitut:
        type: "string"
  HaushaltsPositionen:
    type: "object"
    properties:
      bankUndSparguthaben:
        type: "array"
        items:
          $ref: "#/definitions/BankUndSparguthaben"
      bausparvertraege:
        type: "array"
        items:
          $ref: "#/definitions/BestehenderBausparvertrag"
      ehegattenUnterhalt:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      einkuenfteAusNebentaetigkeit:
        type: "array"
        items:
          $ref: "#/definitions/EinkuenfteAusNebentaetigkeit"
      kindergeld:
        type: "array"
        description: "Read-Only-Feld. Wird dynamisch aus den Angaben zu den Kindern\
          \ berechnet. Pro kindergelderhaltendem Kind ein Listenelement."
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      lebensUndRentenVersicherungen:
        type: "array"
        items:
          $ref: "#/definitions/LebensOderRentenversicherungVermoegen"
      mietAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/MietAusgaben"
      privateDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      privateKrankenversicherung:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      ratenkredite:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      sonstigeAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      sonstigeEinnahmen:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      sonstigeVerbindlichkeiten:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      sonstigeVermoegen:
        type: "array"
        items:
          $ref: "#/definitions/Vermoegen"
      sparplaene:
        type: "array"
        items:
          $ref: "#/definitions/Sparplaene"
      unbefristeteZusatzRenten:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      unterhaltsVerpflichtungen:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      variableEinkuenfte:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      versicherungsAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      wertpapiere:
        type: "array"
        items:
          $ref: "#/definitions/Wertpapiere"
  Postadresse:
    type: "object"
    properties:
      hausnummer:
        type: "string"
      ort:
        type: "string"
      postleitzahl:
        type: "string"
      strasse:
        type: "string"
  VorgaengeResourceListItem:
    type: "object"
    properties:
      antraege:
        type: "array"
        items:
          $ref: "#/definitions/Antrag"
      bankverbindung:
        $ref: "#/definitions/Bankverbindung"
      datenKontext:
        type: "string"
        enum:
        - "TEST_MODUS"
        - "ECHT_GESCHAEFT"
      datumLetztesEreignis:
        type: "string"
      datumLetztesEreignisTimestamp:
        type: "integer"
        format: "int64"
      erstelltAm:
        type: "string"
        format: "date"
      externeVorgangsNummer:
        type: "string"
      finanzierungsObjekt:
        $ref: "#/definitions/FinanzierungsObjekt"
      geschlossenAm:
        type: "string"
        format: "date"
      haushalte:
        type: "array"
        items:
          $ref: "#/definitions/Haushalt"
      importQuelle:
        type: "string"
      kundenBetreuer:
        $ref: "#/definitions/Partner"
      leadTracking:
        $ref: "#/definitions/LeadTracking"
      personenbezogeneDatenGeloescht:
        type: "boolean"
      phase:
        type: "string"
      prioritaet:
        type: "string"
        description: "Priorität des Vorgangs, Werte: [NIEDRIG,NEUTRAL,HOCH]"
        enum:
        - "NIEDRIG"
        - "NEUTRAL"
        - "HOCH"
      status:
        type: "string"
        description: "Status des Vorgangs, Werte: [AKTIV,ARCHIVIERT]"
      tippGeber:
        $ref: "#/definitions/Partner"
      vorgangsBearbeiter:
        $ref: "#/definitions/Partner"
      vorgangsNummer:
        type: "string"
      vorhaben:
        $ref: "#/definitions/Vorhaben"
      _links:
        $ref: "#/definitions/Links"
  BestehendeImmobilie:
    type: "object"
    properties:
      adresse:
        $ref: "#/definitions/Postadresse"
      autostellplaetze:
        type: "array"
        items:
          $ref: "#/definitions/Autostellplatz"
      bestehendeDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/BestehendesDarlehen"
      erbbaurecht:
        $ref: "#/definitions/Erbbaurecht"
      gebaeude:
        $ref: "#/definitions/Gebaeude"
      grundbuchAngabe:
        $ref: "#/definitions/GrundbuchAngabe"
      grundstueck:
        $ref: "#/definitions/Grundstueck"
      id:
        type: "string"
      immobilienEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "VERKAUFEN"
        - "ALS_ZUSATZSICHERHEIT"
      maximalEinzusetzenderBetragWennVerkauf:
        type: "number"
      objektArt:
        type: "string"
        enum:
        - "GRUNDSTUECK"
        - "EIGENTUMSWOHNUNG"
        - "HAUS"
      verkehrswert:
        type: "number"
  TilgungsPhase:
    type: "object"
    properties:
      bausparDarlehenSumme:
        type: "number"
      sollZinsNachZuteilung:
        type: "number"
      tilgungsBeitragMonatlich:
        type: "number"
      tilgungsPhaseInJahren:
        type: "integer"
        format: "int32"
  Haushalt:
    type: "object"
    properties:
      antragsteller:
        type: "array"
        items:
          $ref: "#/definitions/Antragsteller"
      anzahlErwachseneImHaushalt:
        type: "integer"
        format: "int32"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
      anzahlKinderNichtImHaushalt:
        type: "integer"
        format: "int32"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
      bestehendeImmobilien:
        type: "array"
        items:
          $ref: "#/definitions/BestehendeImmobilie"
      kfzAnzahl:
        type: "integer"
        format: "int32"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
      kinder:
        type: "array"
        items:
          $ref: "#/definitions/Kind"
      lebenshaltungsKostenMonatlich:
        type: "number"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (DSL Bank)"
      positionen:
        $ref: "#/definitions/HaushaltsPositionen"
  HoeheDerRatePraeferenz:
    type: "object"
    properties:
      betrag:
        type: "number"
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: MEINE_MIETAUSGABEN_VON_HEUTE,BETRAG,MOEGLICHST_KLEIN,VERFUEGBARES_EINKOMMEN_AUSSCHOEPFEN,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  AusgabenMonatlich:
    type: "object"
    properties:
      ausgabenMonatlich:
        type: "number"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
  AntragstellerVerknuepfung:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
        description: "Redundantes Datum für bessere Menschenlesbarkeit / einfachere\
          \ Zuordnung"
  PaginationLinks:
    type: "object"
    properties:
      next:
        $ref: "#/definitions/Link"
      prev:
        $ref: "#/definitions/Link"
      self:
        $ref: "#/definitions/Link"
  KfwDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      kfwEnergieEffizienzStandard:
        type: "string"
        description: "Nur bei Programm 153. Erlaubt sind STANDARD_40_PLUS, STANDARD_40,\
          \ STANDARD_55, STANDARD_70 . Wenn die KfW-Bank neue Standards anerkennt,\
          \ sind die entsprechenden neuen Ausprägungen zulässig. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      kfwProgramm:
        type: "string"
        description: "Erlaubt sind: PROGRAMM_124,PROGRAMM_141,PROGRAMM_151,PROGRAMM_152,PROGRAMM_153,PROGRAMM_155,PROGRAMM_159,PROGRAMM_167\
          \ .Bei neu aufgelegten KfW-Programmen können auch weitere Werte zulässig\
          \ werden. Der Client muss daher mit unbekannten Werten umgehen können."
      laufzeitInJahren:
        type: "integer"
        format: "int32"
      tilgungsfreieAnlaufjahre:
        type: "integer"
        format: "int32"
        description: "Erlaubt ist 1,2,3,4,5 . Maximalwert abhängig von der Laufzeit"
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
        description: "Programm 124: 5 oder 10, sonst: 10 oder 20"
  Sparplaene:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      beitragMonatlich:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
  Vermoegen:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
  Kind:
    type: "object"
    properties:
      geburtsdatum:
        type: "string"
        format: "date"
      kindergeldWirdBezogen:
        type: "boolean"
      name:
        type: "string"
      unterhaltsEinnahmenBetragMonatlich:
        type: "number"
  Verbindlichkeit:
    type: "object"
    properties:
      glaeubiger:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
      rateMonatlich:
        type: "number"
      restschuld:
        type: "number"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      wirdAbgeloest:
        type: "boolean"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
  Finanzbedarf:
    type: "object"
    properties:
      aussenAnlagen:
        type: "number"
      bauNebenkosten:
        type: "number"
      bereitsBeglichen:
        type: "number"
      erschliessung:
        type: "number"
      grunderwerbsteuer:
        type: "number"
        description: "Nebenkosten"
      grundstuecksKaufpreis:
        type: "number"
      herstellung:
        type: "number"
        description: "inklusive Eigenleistungen"
      kapitalBeschaffung:
        type: "number"
      kaufpreis:
        type: "number"
        description: "inklusive Eigenleistungen"
      maklergebuehr:
        type: "number"
        description: "Nebenkosten"
      mobiliar:
        type: "number"
      modernisierung:
        type: "number"
        description: "inklusive Eigenleistungen"
      notargebuehr:
        type: "number"
        description: "Nebenkosten"
      renovierung:
        type: "number"
      sonstigeKosten:
        type: "number"
      zusaetzlichesKapital:
        type: "number"
  AntragsStatus:
    type: "object"
    properties:
      antragsteller:
        type: "string"
        description: "Willenserklärung des Antragstellers"
        enum:
        - "BEANTRAGT"
        - "UNTERSCHRIEBEN"
        - "NICHT_ANGENOMMEN"
        - "WIDERRUFEN"
      bearbeitungsFortschritt:
        type: "string"
        description: "Bearbeitungsfortschritt des Antrags nach beidseitiger Unterzeichnung"
        enum:
        - "NICHT_VON_PRODUKTANBIETER_BESTAETIGT"
        - "VON_PRODUKTANBIETER_BESTAETIGT"
        - "FREIGEGEBEN_FUER_SAMMELFORDERUNG"
        - "PROVISION_IN_BEARBEITUNG"
        - "PROVISON_AN_KUNDENBETREUER_VOLLSTAENDIG_AUSGEZAHLT"
      produktAnbieter:
        type: "string"
        description: "Willenserklärung des Produktanbieters"
        enum:
        - "NICHT_BEARBEITET"
        - "UNTERSCHRIEBEN"
        - "ABGELEHNT"
        - "ZURUECKGESTELLT"
  BausparAngebot:
    type: "object"
    properties:
      abschlussGebuehr:
        type: "number"
      angebotsHinweisFuerAntragsteller:
        type: "string"
        description: "nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"
      bausparSumme:
        type: "number"
      einmalzahlung:
        type: "number"
      id:
        type: "string"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      sparPhase:
        $ref: "#/definitions/SparPhase"
      tarif:
        type: "string"
      tilgungsPhase:
        $ref: "#/definitions/TilgungsPhase"
      typ:
        type: "string"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zuteilungsDatum:
        type: "string"
        format: "date"
  Flurstueck:
    type: "object"
    properties:
      anteil:
        $ref: "#/definitions/MiteigentumsAnteil"
      flur:
        type: "string"
      flurstuecksNummer:
        type: "string"
      groesse:
        type: "number"
  TilgungsWunsch:
    type: "object"
    properties:
      anfaenglicheTilgung:
        type: "number"
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      ausgesetztBerechnet:
        type: "boolean"
        example: false
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      ausgesetztEigenesAngebot:
        type: "boolean"
        example: false
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      rate:
        type: "number"
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      volltilgerWennAnnuitaetenOderForward:
        type: "boolean"
        example: false
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
  MietAusgaben:
    type: "object"
    properties:
      ausgabenMonatlich:
        type: "number"
      entfallenMitFinanzierung:
        type: "boolean"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
  EinkuenfteAusNebentaetigkeit:
    type: "object"
    properties:
      beginnDerNebentaetigkeit:
        type: "string"
        format: "date"
      einnahmenMonatlich:
        type: "number"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
  ZinsBindungPraeferenz:
    type: "object"
    properties:
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: ZINSBINDUNG_VON_JAHREN,ZWISCHEN_BIS_JAHREN,FLEXIBEL_KURZFRISTIG_HANDLUNGSFAEHIG,LANGE_ZINSSICHERHEIT,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zinsBindungBisJahren:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl==ZWISCHEN_BIS_JAHREN"
      zinsBindungVonJahren:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl==ZINSBINDUNG_VON_JAHREN"
      zinsBindungZwischenJahren:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl==ZWISCHEN_BIS_JAHREN"
      zusatzlicheKommentare:
        type: "string"
  Vorhaben:
    type: "object"
    properties:
      eigenleistungWennNeubauOderModernisierungsmassnahmen:
        type: "number"
      externeBausparAngebote:
        type: "array"
        items:
          $ref: "#/definitions/BausparAngebot"
      finanzbedarf:
        $ref: "#/definitions/Finanzbedarf"
      finanzierungswunsch:
        $ref: "#/definitions/Finanzierungswunsch"
      nachrangigeExterneDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/NachrangigesExternesDarlehen"
      praeferenzen:
        $ref: "#/definitions/Praeferenzen"
      verwendungszweck:
        type: "string"
        enum:
        - "ANSCHLUSSFINANZIERUNG"
        - "KAUF"
        - "KAUF_NEUBAU_VOM_BAUTRAEGER"
        - "MODERNISIERUNG_UMBAU_ANBAU"
        - "NEUBAU"
        - "KAPITALBESCHAFFUNG"
  EinnahmenMonatlich:
    type: "object"
    properties:
      einnahmenMonatlich:
        type: "number"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
  Beratung:
    type: "object"
    properties:
      art:
        type: "string"
        enum:
        - "PRAESENZ_GESCHAEFT"
        - "FERN_ABSATZ_GESCHAEFT"
        - "AUSSER_GESCHAEFTSRAUM_VERTRAG"
      hinweisFuerProduktAnbieter:
        type: "string"
      istKundenBetreuerVerkaeuferOderMaklerDerImmobilie:
        type: "boolean"
        example: false
        description: "Mit diesem Wert wird ausgedrückt, ob der Kundenbetreuer auch\
          \ der Immobilienmakler ist."
  GrundbuchAngabe:
    type: "object"
    properties:
      anmerkungen:
        type: "string"
      bandUndBlatt:
        type: "string"
        description: "Angabe von Band und Blatt"
      flurstuecke:
        type: "array"
        items:
          $ref: "#/definitions/Flurstueck"
      ort:
        type: "string"
        description: "Ort des als Grundbuchamt zuständigen Amtsgerichtes"
      rechteInAbteilung2:
        description: "Belastungen und Beschränkungen in der Nutzbarkeit des Grundstü\
          cks. Leitungsrechte, Verzichte auf Abstandsflächen, Wegerechte, Insolvenzvermerke."
        $ref: "#/definitions/RechteAbteilung2"
  Grundstueck:
    type: "object"
    properties:
      groesse:
        type: "number"
      grundstuecksArt:
        type: "string"
        enum:
        - "UNBEBAUTES_WOHNGRUNDSTUECK"
        - "UNBEBAUTES_MISCHGRUNDSTUECK"
        - "UNBEBAUTES_GEWERBEGRUNDSTUECK"
        - "LANDWIRTSCHAFTLICHES_GRUNDSTUECK"
        - "SONSTIGES_GRUNDSTUECK"
  ProduktAnbieter:
    type: "object"
    properties:
      partnerId:
        type: "string"
      produktAnbieterId:
        type: "string"
      vorname:
        type: "string"
      nachname:
        type: "string"
      firmierung:
        type: "string"
      email:
        type: "string"
      telefonnummer:
        type: "string"
  BestandteileDerFinanzierungPraeferenz:
    type: "object"
    properties:
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: UNKOMPLIZIERTE_FINANZIERUNG,WEITERE_PRODUKTE,KONKRETE_VORSTELLUNGEN,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  SparPhase:
    type: "object"
    properties:
      guthabenBeiZuteilung:
        type: "number"
      sparBeitragMonatlich:
        type: "number"
      sparPhaseInJahren:
        type: "integer"
        format: "int32"
  Link:
    type: "object"
    properties:
      href:
        type: "string"
      type:
        type: "string"
  Finanzierungswunsch:
    type: "object"
    properties:
      bausparWuensche:
        type: "array"
        items:
          $ref: "#/definitions/BausparWunsch"
      darlehensWuensche:
        type: "array"
        items:
          $ref: "#/definitions/DarlehensWunsch"
  ZinsBindung:
    type: "object"
    properties:
      endetAm:
        type: "string"
        format: "date"
      jahre:
        type: "integer"
        format: "int32"
      monate:
        type: "integer"
        format: "int32"
      restschuldNachZinsBindungsEnde:
        type: "number"
  LeadTracking:
    type: "object"
    properties:
      kampagne:
        type: "string"
      keyword:
        type: "string"
      kundenBetreuerBenachrichtigen:
        type: "boolean"
      trackingId:
        type: "string"
  LaufzeitPraeferenz:
    type: "object"
    properties:
      bisZumJahr:
        type: "string"
        example: "2016"
        description: "Nur relevant, wenn praeferenzAuswahl==BIS_ZUM_JAHR. Vierstellige\
          \ Jahresangabe"
      bisZurRenteImJahr:
        type: "string"
        example: "2016"
        description: "Nur relevant, wenn praeferenzAuswahl==BIS_ZUR_RENTE_IM_JAHR.\
          \ Vierstellige Jahresangabe"
      inJahren:
        type: "integer"
        format: "int32"
        description: "Nur relevant, wenn praeferenzAuswahl==IN_JAHREN."
      praeferenzAuswahl:
        type: "string"
        description: "MOEGLICHST_SCHNELL,IN_JAHREN,BIS_ZUM_JAHR,BIS_ZUR_RENTE_IM_JAHR,EGAL"
      zusatzlicheKommentare:
        type: "string"
  RechteAbteilung2:
    type: "object"
    properties:
      beschreibung:
        type: "string"
      betrag:
        type: "number"
  AnnuitaetenOderForwardDarlehensWunsch:
    type: "object"
    properties:
      auszahlungsDatumBeiForward:
        type: "string"
        format: "date"
      bereitstellungsZinsFreieZeitInMonaten:
        type: "integer"
        format: "int32"
      darlehensBetrag:
        type: "number"
      provision:
        type: "number"
      sondertilgungOptionalJaehrlich:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
      typ:
        type: "string"
        enum:
        - "ANNUITAETENDARLEHEN"
        - "FORWARDDARLEHEN"
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
  VariablesDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
  BausparWunsch:
    type: "object"
    properties:
      bausparSummeAbsolut:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      bausparSummeRelativ:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      sonderZahlungEinmalig:
        type: "number"
      sparBeitragMonatlichAbsolut:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      sparBeitragMonatlichRelativ:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      tilgungsBeitragMonatlich:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      zuteilungsDatum:
        type: "string"
        format: "date"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
  ModernisierungsAngaben:
    type: "object"
    properties:
      modernisierungsGrad:
        type: "string"
        description: "erlaubt sind GERING,MITTEL,HOCH. Neue Ausprägungen können kurzfristig\
          \ hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      modernisierungsJahr:
        type: "string"
        example: "2016"
        description: "Jahr der Modernisierung der Immobilie. Vierstellige Jahresangabe"
  TilgungsSatzWechselPraeferenz:
    type: "object"
    properties:
      mindestensBenoetigt:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl==MINDESTENS_BENOETIGT"
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: MINDESTENS_BENOETIGT,NICHT_EINGEPLANT_ODER_ABSEHBAR,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  BankUndSparguthaben:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
      zinsertragJaehrlich:
        type: "number"
  Antragsteller:
    type: "object"
    properties:
      anrede:
        type: "string"
        enum:
        - "FRAU"
        - "HERR"
      anschrift:
        $ref: "#/definitions/Postadresse"
      arbeitserlaubnis:
        type: "boolean"
        example: false
        description: "wenn keine deutsche Staatsangehörigkeit"
      arbeitserlaubnisBefristetBis:
        type: "string"
        format: "date"
        description: "wenn Arbeitserlaubnis befristet"
      aufenthaltsTitel:
        type: "string"
        description: "wenn keine deutsche Staatsangehörigkeit"
        enum:
        - "VISUM"
        - "AUFENTHALTS_ERLAUBNIS"
        - "NIEDERLASSUNGS_ERLAUBNIS"
        - "DAUERAUFENTHALT_EU"
      aufenthaltsTitelBefristetBis:
        type: "string"
        format: "date"
        description: "wenn Aufenthaltstitel befristet"
      berufsgruppeBeiIngDiba:
        type: "string"
        description: "Berufsgruppe des Antragstellers (ING-DiBa) Dieses Feld ist eine\
          \ produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern\
          \ bei der Angebotsermittlung berücksichtigt.. Erlaubte Werte sind:  ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTSTAENDIG,RENTNER,HAUSMANN,PRIVATIER,SOLDAT,SCHUELER,AZUBI,STUDENT,OHNE.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      beschaeftigung:
        $ref: "#/definitions/Beschaeftigung"
      brancheBeiIngDiba:
        type: "string"
        description: "Branche, in welcher der Antragsteller tätig ist. (ING-DiBa)\
          \ Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird\
          \ nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt..\
          \ Erlaubte Werte sind: BANKEN_VERSICHERUNGEN,BAUGEWERBE,DIENSTLEISTUNGEN_SONSTIGE,EDV_BERATUNG,ENERGIE,ERZIEHUNG_UNTERRICHT,GESUNDHEITSWESEN,HANDEL,HANDWERK,HOTEL_GASTRONOMIE,LANDWIRTSCHAFT,OEFFENTLICHER_DIENST,PRODUKTION_INDUSTRIE,VERKEHR.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      brancheBeiMhb:
        type: "string"
        description: "Branche, in welcher der Antragsteller tätig ist. (MHB) Dieses\
          \ Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird nicht\
          \ von allen Produktanbietern bei der Angebotsermittlung berücksichtigt..\
          \ Erlaubte Werte sind: VERARBEITENDES_GEWERBE,BAU,HANDEL,VERKEHR_INFORMATION,DIENSTLEISTUNG,SONSTIGES.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      brancheBeiSRating:
        type: "string"
        description: "Branche, in welcher der Antragsteller tätig ist. (Sparkassen)\
          \ Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird\
          \ nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt..\
          \ Erlaubte Werte sind: BAUGEWERBE,DIENSTLEISTUNGEN,ENERGIE_UND_WASSERVERSORGUNG_BERGBAU,GEBIETSKOERPERSCHAFTEN_UND_SOZIALVERSICHERUNGEN,GESUNDHEITSWESEN,HANDEL,HOTEL_UND_GASTRONOMIE,KREDITINSTITUTE,LAND_UND_FORSTWIRTSCHAFT_FISCHEREI,OEFFENTLICHER_DIENST,ORGANISATIONEN_OHNE_ERWERBSZWECK_PRIVATE_HAUSHALTE,VERARBEITENDES_GEWERBE,VERKEHR_UND_NACHRICHTENUEBERMITTLUNG,VERSICHERUNGEN,SONSTIGE.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      email:
        type: "string"
      externeAntragstellerId:
        type: "string"
      familienstand:
        type: "string"
        enum:
        - "GESCHIEDEN"
        - "GETRENNT_LEBEND"
        - "LEBENSPARTNERSCHAFT"
        - "LEDIG"
        - "VERHEIRATET"
        - "VERWITWET"
      geburtsdatum:
        type: "string"
        format: "date"
      geburtsort:
        type: "string"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. Relevant für Sparprodukte (Bausparkassen)."
      guetertrennungVereinbartWennVerheiratet:
        type: "boolean"
        example: false
        description: "nur wenn verheiratet"
      id:
        type: "string"
      legitimationsDaten:
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
        $ref: "#/definitions/LegitimationsDaten"
      nachname:
        type: "string"
      schufaErgebnis:
        $ref: "#/definitions/SchufaErgebnis"
      staatsangehoerigkeit:
        $ref: "#/definitions/Staat"
      telefonnummer:
        type: "string"
      telefonnummerVorwahl:
        type: "string"
      titelDoktor:
        type: "boolean"
      titelProfessor:
        type: "boolean"
      verheiratetMitAntragsteller:
        description: "nur wenn verheiratet"
        $ref: "#/definitions/AntragstellerVerknuepfung"
      vorAnschrift:
        $ref: "#/definitions/Postadresse"
      vorname:
        type: "string"
      weitereKontaktMoeglichkeiten:
        type: "string"
      wohnhaftSeit:
        type: "string"
        format: "date"
  VermietungsInformationen:
    type: "object"
    properties:
      mieteinnahmenNettoKaltMonatlich:
        type: "number"
      nutzungsArt:
        type: "string"
        enum:
        - "EIGENGENUTZT"
        - "TEIL_VERMIETET"
        - "VERMIETET"
      vermieteteFlaeche:
        type: "number"
  BestehenderBausparvertrag:
    type: "object"
    properties:
      abschlussGebuehr:
        type: "number"
      aktuellerWert:
        type: "number"
      bausparSumme:
        type: "number"
      einmalzahlung:
        type: "number"
      id:
        type: "string"
      maximalAufzuloesenderBetrag:
        type: "number"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      sparBeitragMonatlich:
        type: "number"
      tarif:
        type: "string"
      typ:
        type: "string"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
      zuteilungsDatum:
        type: "string"
        format: "date"
  Partner:
    type: "object"
    properties:
      partnerId:
        type: "string"
      vorname:
        type: "string"
      nachname:
        type: "string"
      firmierung:
        type: "string"
      email:
        type: "string"
      telefonnummer:
        type: "string"
  Antrag:
    type: "object"
    properties:
      antragsNummer:
        type: "string"
        description: "Nummer des Antrags auf der Europace Plattform"
      beratung:
        description: "Informationen zum Geschäftsabschluss"
        $ref: "#/definitions/Beratung"
      datenKontext:
        type: "string"
        description: "Gibt an, ob es sich um einen Antrag aus dem Testmodus oder Echtgeschä\
          ft handelt"
        enum:
        - "TEST_MODUS"
        - "ECHT_GESCHAEFT"
      dokumente:
        type: "array"
        description: "Enthält alle Plattformdokumente, freigegebene Dokumente des\
          \ Vertriebs, sowie die hochgeladenen Dokumente des Produktanbieters. **Aktuell\
          \ sind nur Selbstauskunft und Kreditentscheidungsinformation enthalten.**"
        items:
          $ref: "#/definitions/Dokument"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      status:
        description: "Bearbeitungsfortschritt des Antrags"
        $ref: "#/definitions/AntragsStatus"
      zeitpunktDerAnnahme:
        type: "string"
        format: "date-time"
        description: "Zeitpunkt, zu dem der Antrag im System erstellt wurde."
  GebaeudeFlaeche:
    type: "object"
    properties:
      gesamtGroesse:
        type: "number"
      vermietungsInformationen:
        $ref: "#/definitions/VermietungsInformationen"
  BereitstellungsZinsFreieZeitPraeferenz:
    type: "object"
    properties:
      darlehenBenoetigtInMonaten:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl==IN_MONATEN"
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: MIT_DER_ERSTEN_AUSZAHLUNG,IN_MONATEN,NOCH_NICHT_FESTGELEGT,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  LebensOderRentenversicherungVermoegen:
    type: "object"
    properties:
      id:
        type: "string"
      maximalAufzuloesenderBetrag:
        type: "number"
      praemieMonatlich:
        type: "number"
      rueckkaufsWertAktuell:
        type: "number"
      tarif:
        type: "string"
      typ:
        type: "string"
        enum:
        - "KAPITALBILDENDE_LEBENSVERSICHERUNG"
        - "FONDSGEBUNDENE_LEBENSVERSICHERUNG"
        - "KAPITALBILDENDE_RENTENVERSICHERUNG"
        - "FONDSGEBUNDENE_RENTENVERSICHERUNG"
        - "RISIKO_LEBENSVERSICHERUNG"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      versicherungsGesellschaft:
        type: "string"
      versicherungsSumme:
        type: "number"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsEnde:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
  Gebaeude:
    type: "object"
    properties:
      anzahlDerGewerbeeinheiten:
        type: "integer"
        format: "int32"
        description: "Nur bei ObjektArt == HAUS."
      anzahlDerWohneinheitenImGebaeude:
        type: "integer"
        format: "int32"
      anzahlVollgeschosse:
        type: "integer"
        format: "int32"
      ausstattung:
        type: "string"
        description: "Angaben zur Ausstattung für alle verschiedene Produktanbieter,\
          \ aber nicht für ING-DiBa. Erlaubte Werte sind: EINFACH,MITTEL,GEHOBEN,STARK_GEHOBEN.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      baujahr:
        type: "string"
        example: "2016"
        description: "Baujahr des Gebäudes. Bei verwendungsZweck != NEUBAUVierstellige\
          \ Jahresangabe"
      bauweise:
        type: "string"
        description: "Erlaubte Werte sind: FACHWERK_MIT_STROH_LEHM,FACHWERK_MIT_ZIEGELN,GLAS_STAHL,HOLZ,MASSIV.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      bezeichnungWohneinheit:
        type: "string"
        description: "Nur bei ObjektArt == EIGENTUMSWOHNUNG."
      dachgeschossAusbau:
        type: "string"
        description: "Nur bei ObjektArt == HAUS. Erlaubte Werte sind: FLACHDACH,NICHT_AUSGEBAUT,TEILWEISE_AUSGEBAUT,VOLL_AUSGEBAUT.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      einliegerwohnungVorhanden:
        type: "boolean"
        example: false
        description: "Nur bei ObjektArt == HAUS."
      gewerbeflaeche:
        $ref: "#/definitions/GebaeudeFlaeche"
      hausAnordnung:
        type: "string"
        enum:
        - "FREISTEHEND"
        - "KOPFHAUS"
        - "MITTELHAUS"
      hausTyp:
        type: "string"
        description: "Nur bei ObjektArt == HAUS."
        enum:
        - "DOPPELHAUSHAELFTE"
        - "EINFAMILIENHAUS"
        - "MEHRFAMILIENHAUS"
        - "REIHENHAUS"
        - "ZWEIFAMILIENHAUS"
      istFertighaus:
        type: "boolean"
        example: false
        description: "Nur bei ObjektArt == HAUS."
      miteigentumsAnteil:
        description: "Nur bei ObjektArt == EIGENTUMSWOHNUNG."
        $ref: "#/definitions/MiteigentumsAnteil"
      modernisierungsAngaben:
        $ref: "#/definitions/ModernisierungsAngaben"
      unterkellerung:
        type: "string"
        description: "Nur bei ObjektArt == HAUS. Erlaubte Werte sind: NICHT_UNTERKELLERT,TEILWEISE_UNTERKELLERT,UNTERKELLERT.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      wohnflaeche:
        $ref: "#/definitions/GebaeudeFlaeche"
  FinanzierungsObjekt:
    type: "object"
    properties:
      adresse:
        $ref: "#/definitions/Postadresse"
      autostellplaetze:
        type: "array"
        items:
          $ref: "#/definitions/Autostellplatz"
      bestehendeDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/BestehendesDarlehenDesFinanzierungsObjekts"
      erbbaurecht:
        $ref: "#/definitions/Erbbaurecht"
      gebaeude:
        $ref: "#/definitions/Gebaeude"
      grundbuchAngabe:
        $ref: "#/definitions/GrundbuchAngabe"
      grundstueck:
        $ref: "#/definitions/Grundstueck"
      id:
        type: "string"
      objektArt:
        type: "string"
        enum:
        - "GRUNDSTUECK"
        - "EIGENTUMSWOHNUNG"
        - "HAUS"
      verkehrswert:
        type: "number"
        description: "Nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung\
          \ und Kapitalbeschaffung"
  Error:
    type: "object"
    properties:
      message:
        type: "string"
      statusCode:
        type: "integer"
        format: "int32"
      statusMessage:
        type: "string"
      traceId:
        type: "string"
  Praeferenzen:
    type: "object"
    properties:
      bereitstellungsZinsFreieZeit:
        $ref: "#/definitions/BereitstellungsZinsFreieZeitPraeferenz"
      bestandteileDerFinanzierung:
        $ref: "#/definitions/BestandteileDerFinanzierungPraeferenz"
      hoeheDerRate:
        $ref: "#/definitions/HoeheDerRatePraeferenz"
      laufzeit:
        $ref: "#/definitions/LaufzeitPraeferenz"
      sondertilgung:
        $ref: "#/definitions/SondertilgungPraeferenz"
      tilgungsSatzWechsel:
        $ref: "#/definitions/TilgungsSatzWechselPraeferenz"
      weiterePraeferenz:
        type: "string"
      zeitlicherRahmen:
        $ref: "#/definitions/ZeitlicherRahmenPraeferenz"
      zinsBindung:
        $ref: "#/definitions/ZinsBindungPraeferenz"
  Autostellplatz:
    type: "object"
    properties:
      mieteinnahmenMonatlich:
        type: "number"
      typ:
        type: "string"
        enum:
        - "STELLPLATZ"
        - "CARPORT"
        - "GARAGE"
        - "DOPPEL_GARAGE"
        - "KELLER_GARAGE"
        - "TIEFGARAGEN_STELLPLATZ"
  Erbbaurecht:
    type: "object"
    properties:
      erbbauzinsJaehrlich:
        type: "number"
      grundstuecksEigentuemer:
        type: "string"
        enum:
        - "ANDERE"
        - "OEFFENTLICH_KIRCHLICH"
      laufzeitBisJahr:
        type: "string"
        example: "2016"
        description: "Vierstellige Jahresangabe"
  DarlehensWunsch:
    type: "object"
    properties:
      annuitaetenOderForwardDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/AnnuitaetenOderForwardDarlehensWunsch"
      darlehensWunschArt:
        type: "string"
        enum:
        - "ANNUITAETEN_ODER_FORWARD_DARLEHENS_WUNSCH"
        - "KFW_DARLEHENS_WUNSCH"
        - "PRIVAT_DARLEHENS_WUNSCH"
        - "ZWISCHEN_FINANZIERUNGS_WUNSCH"
        - "VARIABLES_DARLEHENS_WUNSCH"
      kfwDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/KfwDarlehensWunsch"
      privatDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/PrivatDarlehensWunsch"
      variablesDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/VariablesDarlehensWunsch"
      zwischenFinanzierung:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/ZwischenFinanzierungsWunsch"
  Dokument:
    type: "object"
    properties:
      art:
        type: "string"
        description: "ist nicht immer vorhanden"
      href:
        type: "string"
      name:
        type: "string"
      type:
        type: "string"
  SondertilgungPraeferenz:
    type: "object"
    properties:
      betragEinmalig:
        type: "number"
        description: "wenn praeferenzAuswahl==EINMALIG"
      betragJaehrlich:
        type: "number"
        description: "wenn praeferenzAuswahl==JAEHRLICH"
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: JAEHRLICH,EINMALIG,DERZEIT_NICHT_GEPLANT,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  SituationNachRenteneintritt:
    type: "object"
    properties:
      gesetzlicheRenteMonatlich:
        type: "number"
      privateRenteMonatlich:
        type: "number"
      rentenBeginn:
        type: "string"
        format: "date"
      sonstigesEinkommenMonatlich:
        type: "number"
  Wertpapiere:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      dividendenJaehrlich:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensTyp:
        type: "string"
        description: "Redundante Angabe des Vermögenstyp dient als zusätzliches Filterkriterium"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
      zahlungsTyp:
        type: "string"
        description: "Redundante Angabe des Zahlungstyps dient als zusätzliches Filterkriterium"
        enum:
        - "EINNAHME"
        - "AUSGABE"
  BestehendesDarlehen:
    type: "object"
    properties:
      abzuloesendeRestschuld:
        type: "number"
      aktuelleRestschuldWennNichtAbzuloesen:
        type: "number"
        description: "nur wenn wirdAbgeloest==true"
      darlehensArt:
        type: "string"
        description: "Erlaubte Werte sind: BAUSPARDARLEHEN,FOERDERDARLEHEN,IMMOBILIENDARLEHEN,SONSTIGES_DARLEHEN.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      darlehensGeber:
        $ref: "#/definitions/ProduktAnbieter"
      eingetrageneGrundschuld:
        type: "number"
      id:
        type: "string"
      rateMonatlich:
        type: "number"
      zinsBindungEndetAm:
        type: "string"
        format: "date"
  Vorgang:
    type: "object"
    properties:
      antraege:
        type: "array"
        items:
          $ref: "#/definitions/Antrag"
      bankverbindung:
        $ref: "#/definitions/Bankverbindung"
      datenKontext:
        type: "string"
        enum:
        - "TEST_MODUS"
        - "ECHT_GESCHAEFT"
      erstelltAm:
        type: "string"
        format: "date"
      externeVorgangsNummer:
        type: "string"
      finanzierungsObjekt:
        $ref: "#/definitions/FinanzierungsObjekt"
      geschlossenAm:
        type: "string"
        format: "date"
      haushalte:
        type: "array"
        items:
          $ref: "#/definitions/Haushalt"
      importQuelle:
        type: "string"
      kundenBetreuer:
        $ref: "#/definitions/Partner"
      leadTracking:
        $ref: "#/definitions/LeadTracking"
      personenbezogeneDatenGeloescht:
        type: "boolean"
      phase:
        type: "string"
      prioritaet:
        type: "string"
        description: "Priorität des Vorgangs, Werte: [NIEDRIG,NEUTRAL,HOCH]"
        enum:
        - "NIEDRIG"
        - "NEUTRAL"
        - "HOCH"
      status:
        type: "string"
        description: "Status des Vorgangs, Werte: [AKTIV,ARCHIVIERT]"
      tippGeber:
        $ref: "#/definitions/Partner"
      vorgangsBearbeiter:
        $ref: "#/definitions/Partner"
      vorgangsNummer:
        type: "string"
      vorhaben:
        $ref: "#/definitions/Vorhaben"
      _links:
        $ref: "#/definitions/Links"
  BestehendesDarlehenDesFinanzierungsObjekts:
    type: "object"
    properties:
      abzuloesendeRestschuld:
        type: "number"
      aktuelleRestschuldWennNichtAbzuloesen:
        type: "number"
        description: "nur wenn wirdAbgeloest==true"
      darlehensArt:
        type: "string"
        description: "Erlaubte Werte sind: BAUSPARDARLEHEN,FOERDERDARLEHEN,IMMOBILIENDARLEHEN,SONSTIGES_DARLEHEN.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      darlehensGeber:
        $ref: "#/definitions/ProduktAnbieter"
      eingetrageneGrundschuld:
        type: "number"
      id:
        type: "string"
      rateMonatlich:
        type: "number"
      verwendenAls:
        type: "string"
        description: "Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben,\
          \ behandelt werden soll."
        enum:
        - "ABLOESEN"
        - "TRITT_IM_RANG_ZURUECK"
        - "TRITT_NICHT_IM_RANG_ZURUECK"
      zinsBindungEndetAm:
        type: "string"
        format: "date"
  Staat:
    type: "object"
    properties:
      isoCountryCode:
        type: "string"
      name:
        type: "string"
  ZwischenFinanzierungsWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      detailsZurVerwendung:
        type: "string"
      maximaleLaufzeitInMonaten:
        type: "integer"
        format: "int32"
      verwendungsZweck:
        type: "string"
        enum:
        - "VORFINANZIERUNG_OEFFENTLICHER_MITTEL"
        - "VERKAUF_EINES_ANDEREN_OBJEKTS"
        - "SONSTIGE_VERWENDUNG"
  Vorgaenge:
    type: "object"
    properties:
      vorgaenge:
        type: "array"
        items:
          $ref: "#/definitions/VorgaengeResourceListItem"
      _links:
        $ref: "#/definitions/PaginationLinks"
  MiteigentumsAnteil:
    type: "object"
    properties:
      anteil:
        type: "number"
        format: "double"
      gesamt:
        type: "integer"
        format: "int32"
  Beschaeftigung:
    type: "object"
    properties:
      anzahlGehaelterProJahr:
        type: "number"
        format: "double"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      arbeitgeber:
        type: "string"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      arbeitgeberInDeutschlandAnsaessig:
        type: "boolean"
        example: false
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      art:
        type: "string"
        description: "Erlaubte Werte sind: ANGESTELLTER, ARBEITER, ARBEITSLOSER, BEAMTER,\
          \ FREIBERUFLER, HAUSFRAU, RENTNER, SELBSTAENDIGER"
      befristungsStatus:
        type: "string"
        description: "nur bei art==ANGESTELLTER,ARBEITER"
        enum:
        - "BEFRISTET"
        - "UNBEFRISTET"
      beruf:
        type: "string"
        description: "nur bei art!=RENTNER"
      beschaeftigtSeit:
        type: "string"
        format: "date"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTAENDIGER"
      einkommenNettoJaehrlich:
        type: "number"
        description: "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
      einkommenNettoMonatlich:
        type: "number"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      inProbezeit:
        type: "boolean"
        example: false
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      situationNachRenteneintritt:
        description: "nur bei art!=RENTNER"
        $ref: "#/definitions/SituationNachRenteneintritt"
      sonstigesRegelmaessigesEinkommenNettoMonatlich:
        type: "number"
        description: "nur bei art==ARBEITSLOSER,HAUSFRAU"
      staatlicheRenteNettoMonatlich:
        type: "number"
        description: "nur bei art==RENTNER"
      taetigkeit:
        type: "string"
        description: "nur bei art==FREIBERUFLER,SELBSTAENDIGER. Erlaubte Werte sind:\
          \   ALTENPFLEGER, AMBULANTER_KRANKENPFLEGER, ANWALT, APOTHEKER, ARCHITEKT,\
          \ ARZT, BESTATTER, DATENSCHUTZBEAUFTRAGTER, DEKORATEUR, DIAETASSISTENT,\
          \ DOLMETSCHER, EDV_BERATER, ERGOTHERAPEUT, ERNAEHRUNGSBERATER, FOTOGRAF,\
          \ GEOGRAF, GRAFIKDESIGNER, GRAFIKER, HEBAMME, HEILMASSEUR, HEILPRAKTIKER,\
          \ HISTORIKER, INFORMATIKER, INGENIEUR, INSOLVENZVERWALTER, JOURNALIST, KLASSISCHER_KONZERTMUSIKER,\
          \ KONSTRUKTEUR, KRANKENGYMNAST, KRANKENPFLEGER, KRANKENSCHWESTER, LOGOPAEDE,\
          \ MEDIZINISCH_TECHN_ASSISTENT, NOTAR, OPERNSAENGER, PERSONALBERATER, PHYSIOTHERAPEUT,\
          \ PSYCHOLOGE, RAUMAUSSTATTER, RUNDFUNKSPRECHER, SACHVERSTAENDIGER, STADTPLANER,\
          \ STATIKER, STEUERBERATER, TIERARZT, UNTERNEHMENSBERATER, VERMITTLER, WIRTSCH_BUCHPRUEFER_REVISOR,\
          \ ZAHNARZT, ZAHNTECHNIKER, SONSTIGES."
  SchufaErgebnis:
    type: "object"
    properties:
      antragstellerUnbekannt:
        type: "boolean"
        example: false
        description: "Der Antragsteller ist bei der Schufa unbekannt."
      inManuellerNachbehandlung:
        type: "boolean"
        example: false
        description: "Die Ermittlung des Schufa-Scores verzögert sich, wenn sich die\
          \ Anfrage bei der Schufa in manueller Nachbehandlung befindet."
      score:
        type: "string"
  Links:
    type: "object"
    properties:
      self:
        $ref: "#/definitions/Link"
  LegitimationsDaten:
    type: "object"
    properties:
      ausstellendeBehoerde:
        type: "string"
      ausstellungsdatum:
        type: "string"
        format: "date"
      ausweisArt:
        type: "string"
        enum:
        - "PERSONALAUSWEIS"
        - "REISEPASS"
        - "ANDERE"
      ausweisArtBeiAndererAusweis:
        type: "string"
        description: "Nur wenn ausweisArt = ANDERE"
      ausweisNummer:
        type: "string"
  NachrangigesExternesDarlehen:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      darlehensGeber:
        type: "string"
        description: "Der Name des externen Darlehensgebers (Firmierung). Es gibt\
          \ keine entsprechende Beziehung zu einem Partner auf der Europace-Plattform."
      id:
        type: "string"
      rateMonatlich:
        type: "number"
      typ:
        type: "string"
        description: "Erlaubte Werte sind: ARBEITGEBERDARLEHEN,BAUSPARDARLEHEN,OEFFENTLICHES_DARLEHEN,RATENKREDIT.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zinsBindung:
        $ref: "#/definitions/ZinsBindung"
  ZeitlicherRahmenPraeferenz:
    type: "object"
    properties:
      finanzierungszusageBis:
        type: "string"
        format: "date"
        description: "wenn praeferenzAuswahl==ZUSAGE_BIS"
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: NUR_INFORMATION_UEBER_FINANZIERUNGSRAHMEN,ZUSAGE_BIS,SO_SCHNELL_WIE_MOEGLICH,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  PrivatDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      laufzeitInMonaten:
        type: "integer"
        format: "int32"
